<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedAccessory</key>
	<string>subsequentRestriction</string>
	<key>easyCurve</key>
	<string>routerinteraction</string>
	<key>efficiencyTop</key>
	<string>immutableLifecycle</string>
	<key>positionedOffset</key>
	<string>precisioninteraction</string>
	<key>retainedDrawer</key>
	<string>positionSpacing</string>
	<key>unsortedDuration</key>
	<string>gesturedetectorResponse</string>
</dict>
</plist>
