<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerFeedback</key>
	<string>shouldUpdateMediaQuery</string>
	<key>durationframeworkinteraction</key>
	<string>substantialMaterial</string>
	<key>hyperbolicdispatcher</key>
	<string>mapperTheme</string>
	<key>storyboarduntilenvironment</key>
	<string>attachText</string>
</dict>
</plist>
