<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentThroughput</key>
	<string>movementofshape</string>
	<key>handlerInset</key>
	<string>missedinjectionpressure</string>
	<key>integerMargin</key>
	<string>isoptimizer</string>
	<key>logarithmBehavior</key>
	<string>shouldFetchPositioned</string>
	<key>popupstructurevelocity</key>
	<string>subscribehandler</string>
	<key>robustNorm</key>
	<string>storyboardComposite</string>
	<key>robustText</key>
	<string>prismaticScaffold</string>
	<key>routeState</key>
	<string>animatedBloc</string>
	<key>scrollEdge</key>
	<string>semanticComposition</string>
	<key>subtleReducer</key>
	<string>shouldProcessTabView</string>
</dict>
</plist>
