<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnKind</key>
	<string>materialStroke</string>
	<key>discardedLogarithm</key>
	<string>consumeFactory</string>
	<key>isSymbol</key>
	<string>canSetStatePainter</string>
	<key>pinchableEntropy</key>
	<string>shouldpauseicon</string>
	<key>projectcontextstyle</key>
	<string>deactivatesink</string>
	<key>selectedmobile</key>
	<string>consumershape</string>
	<key>shouldUnbindAnimation</key>
	<string>shouldRenderScreen</string>
	<key>sliderDensity</key>
	<string>modulusScope</string>
	<key>strengthRate</key>
	<string>metadatascale</string>
	<key>tabbarLeft</key>
	<string>shouldrenderspine</string>
</dict>
</plist>
