<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascentStatus</key>
	<string>captionName</string>
	<key>aspectbound</key>
	<string>hierarchicalCallback</string>
	<key>cupertinoTrigger</key>
	<string>fragmentdrawer</string>
	<key>geometriclayout</key>
	<string>yieldGem</string>
	<key>lostAccessory</key>
	<string>restrictionDensity</string>
	<key>shouldStartDimension</key>
	<string>remediationOrientation</string>
</dict>
</plist>
