<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dispatcherPosition</key>
	<string>callbackoutsideshape</string>
	<key>dynamicScenario</key>
	<string>textType</string>
	<key>graintail</key>
	<string>rotateButton</string>
	<key>inheritedRichText</key>
	<string>localizationTag</string>
	<key>prevTimer</key>
	<string>itemdelay</string>
	<key>shouldValidateLoss</key>
	<string>persistentHistogram</string>
	<key>sortedResponder</key>
	<string>repositoryBound</string>
	<key>stackRate</key>
	<string>augmentModel</string>
	<key>sustainableMap</key>
	<string>metadataMemento</string>
	<key>unsortedvertex</key>
	<string>uniformDependency</string>
</dict>
</plist>
