<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hyperbolicSprite</key>
	<string>cupertinoVisitor</string>
	<key>navigationSize</key>
	<string>canListenWidget</string>
	<key>sampleStatus</key>
	<string>easyFormat</string>
	<key>semanticbitratedensity</key>
	<string>fusedLifecycle</string>
	<key>shouldFinishHeap</key>
	<string>ternaryOrigin</string>
	<key>uniformmodel</key>
	<string>primaryResult</string>
</dict>
</plist>
