<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronoussensor</key>
	<string>overlayPressure</string>
	<key>axisContrast</key>
	<string>greatShader</string>
	<key>gridviewCenter</key>
	<string>continueBox</string>
	<key>reducerMode</key>
	<string>musicscalability</string>
	<key>relationalCallback</key>
	<string>titlePosition</string>
	<key>substantialsingletoncolor</key>
	<string>grainskewx</string>
	<key>textofvalue</key>
	<string>ephemeralEvent</string>
</dict>
</plist>
