<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedservicetop</key>
	<string>freeStorage</string>
	<key>cartesianStamp</key>
	<string>canCacheBox</string>
	<key>iterativeScalability</key>
	<string>challengereducer</string>
	<key>normalEmitter</key>
	<string>resilientaxis</string>
	<key>rebuildreducer</key>
	<string>opaqueOperation</string>
	<key>responsivecreator</key>
	<string>activitybuilder</string>
	<key>scrollshade</key>
	<string>equipmentgrain</string>
	<key>shouldYieldCatalyst</key>
	<string>keyDelivery</string>
	<key>typicalAnalogy</key>
	<string>lostAction</string>
	<key>typicalTheme</key>
	<string>equivalentSize</string>
</dict>
</plist>
