<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inactiveTouch</key>
	<string>hardTernary</string>
	<key>ongesturechanged</key>
	<string>canLayoutSlash</string>
	<key>resizableLinker</key>
	<string>findGrid</string>
	<key>rowindex</key>
	<string>shouldStreamProject</string>
	<key>shouldLoadBloc</key>
	<string>informationState</string>
</dict>
</plist>
