<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cachePadding</key>
	<string>publicTitle</string>
	<key>convolutionSpacing</key>
	<string>ephemeralMenu</string>
	<key>diversifiedStore</key>
	<string>permanentGift</string>
	<key>enabledDependency</key>
	<string>insteadState</string>
	<key>materialgroupdepth</key>
	<string>geometricGram</string>
	<key>secondAxis</key>
	<string>responseadapterorigin</string>
	<key>storageincludevariable</key>
	<string>quantizerEvent</string>
	<key>subsequentSelector</key>
	<string>unmountedMultiplication</string>
	<key>textfieldTag</key>
	<string>revisitZone</string>
</dict>
</plist>
