<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitwithoutstate</key>
	<string>diffableSound</string>
	<key>bufferFeedback</key>
	<string>mutableVolume</string>
	<key>certificateRate</key>
	<string>momentumDelay</string>
	<key>convolutionInteraction</key>
	<string>customTween</string>
	<key>shouldSetStateResource</key>
	<string>shouldSubscribeProject</string>
	<key>uniformAsync</key>
	<string>canDecodeConsumer</string>
	<key>usedanimatedcontainerscale</key>
	<string>activitystructurerotation</string>
</dict>
</plist>
