<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesAcceleration</key>
	<string>pinchableTabBar</string>
	<key>listviewDelay</key>
	<string>containerContext</string>
	<key>missedaxisvelocity</key>
	<string>activateLoop</string>
	<key>shouldUpdateLabel</key>
	<string>petPrototype</string>
</dict>
</plist>
