<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedController</key>
	<string>scrollerAcceleration</string>
	<key>arithmeticDistinction</key>
	<string>bindContraction</string>
	<key>buttonchainscale</key>
	<string>transitionKind</string>
	<key>cacheroute</key>
	<string>shaderScale</string>
	<key>giftSpacing</key>
	<string>flexformpressure</string>
	<key>lazyAperture</key>
	<string>cosinecontaintype</string>
	<key>shouldAttachCaption</key>
	<string>crucialTrajectory</string>
	<key>shouldcachenotification</key>
	<string>chartFramework</string>
	<key>tensorEvaluation</key>
	<string>layoutOptimizer</string>
</dict>
</plist>
