<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatealignment</key>
	<string>preparegesturedetector</string>
	<key>autoMomentum</key>
	<string>currentDuration</string>
	<key>completercenter</key>
	<string>shouldUnmountGem</string>
	<key>concreteAnimatedContainer</key>
	<string>hyperbolicUtil</string>
	<key>dimensionOrientation</key>
	<string>actionAction</string>
	<key>isTouch</key>
	<string>layoutIcon</string>
	<key>mediumTernary</key>
	<string>lastCupertino</string>
	<key>statelessLayout</key>
	<string>onconsumerchanged</string>
	<key>tablealignment</key>
	<string>synchronizeProvider</string>
	<key>usedTentative</key>
	<string>spinAllocator</string>
</dict>
</plist>
