<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleFragment</key>
	<string>holdTitle</string>
	<key>originalcertificatecenter</key>
	<string>nodeComposite</string>
	<key>shoulddisconnectview</key>
	<string>discoverStore</string>
	<key>workflowHead</key>
	<string>immediateInteraction</string>
</dict>
</plist>
