<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertdelay</key>
	<string>canTransitionMusic</string>
	<key>euclideanStorage</key>
	<string>respectiveMedia</string>
	<key>featureIndex</key>
	<string>flexibleStroke</string>
	<key>imperativecallback</key>
	<string>resolverinsidepattern</string>
	<key>onsliderchanged</key>
	<string>mediaFormat</string>
	<key>opaqueReduction</key>
	<string>compositionalMaster</string>
	<key>reductioncontainnumber</key>
	<string>holdDuration</string>
	<key>screenoperationduration</key>
	<string>exceptionTheme</string>
	<key>seamlessOption</key>
	<string>retrieveFuture</string>
	<key>tensorSubscriber</key>
	<string>appendTexture</string>
</dict>
</plist>
