<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentimage</key>
	<string>maintainChart</string>
	<key>ascentForce</key>
	<string>disparateOverlay</string>
	<key>beginnerMenu</key>
	<string>routeProcess</string>
	<key>shouldPresentGift</key>
	<string>shouldEncodeMediaQuery</string>
	<key>temporaryModulus</key>
	<string>factoryStatus</string>
</dict>
</plist>
