<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackFlags</key>
	<string>shouldRestartConsumer</string>
	<key>hyperbolictabbarindex</key>
	<string>canDetachSemantics</string>
	<key>mainPageView</key>
	<string>difficulttween</string>
	<key>resourceforvisitor</key>
	<string>deserializeGift</string>
	<key>shouldNavigateBuilder</key>
	<string>checkAction</string>
</dict>
</plist>
