<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasMomentum</key>
	<string>resourcesingletonformat</string>
	<key>diffableState</key>
	<string>signTask</string>
	<key>directlyUsage</key>
	<string>operationTheme</string>
	<key>functionalInterface</key>
	<string>missedGrain</string>
	<key>inheritedScenario</key>
	<string>multiplycollection</string>
	<key>lastProvider</key>
	<string>capacitiesscopehead</string>
	<key>prevOption</key>
	<string>canLoadSensor</string>
	<key>robustSubpixel</key>
	<string>smartStrength</string>
	<key>shouldParseAnimatedContainer</key>
	<string>canResumeCache</string>
	<key>statefulLayout</key>
	<string>graphicDuration</string>
</dict>
</plist>
