<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disparateScope</key>
	<string>animationdespitework</string>
	<key>mutableExponent</key>
	<string>temporaryItem</string>
	<key>shouldLayoutPriority</key>
	<string>taxonomyTail</string>
	<key>shouldstartstream</key>
	<string>webNavigation</string>
	<key>standaloneExtension</key>
	<string>invisibleResolver</string>
	<key>visibleThroughput</key>
	<string>providerEnvironment</string>
</dict>
</plist>
