<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analyzeprovider</key>
	<string>materialBinary</string>
	<key>curvePadding</key>
	<string>durationprocessor</string>
	<key>distinctionBehavior</key>
	<string>commonMend</string>
	<key>eventlikechain</key>
	<string>signchannel</string>
	<key>localAction</key>
	<string>shouldStreamCurve</string>
	<key>otherPageView</key>
	<string>optionSize</string>
	<key>resilienceResponse</key>
	<string>referenceProxy</string>
	<key>temporarycurve</key>
	<string>symmetricAllocator</string>
</dict>
</plist>
