<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphascenario</key>
	<string>canSubscribeRoute</string>
	<key>equivalentvelocity</key>
	<string>durationlocation</string>
	<key>informationMomentum</key>
	<string>parseEquipment</string>
	<key>interactionFrequency</key>
	<string>pendingObserver</string>
	<key>prismaticEntity</key>
	<string>certificateLocation</string>
	<key>profileOrientation</key>
	<string>gridTransparency</string>
	<key>rectOrientation</key>
	<string>alphaDensity</string>
	<key>touchlogarithm</key>
	<string>disparateCheckbox</string>
</dict>
</plist>
