<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumesizedbox</key>
	<string>painterCount</string>
	<key>disparateResult</key>
	<string>shouldAttachAlpha</string>
	<key>geometricgrayscale</key>
	<string>plateappearance</string>
	<key>similarGift</key>
	<string>uniformBinder</string>
	<key>skirtHead</key>
	<string>shouldPopFuture</string>
	<key>streamcolor</key>
	<string>drawercurve</string>
	<key>tickerScale</key>
	<string>logarithminterface</string>
	<key>transitionLocation</key>
	<string>otherPopup</string>
</dict>
</plist>
