<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioMomentum</key>
	<string>lastObserver</string>
	<key>customTheme</key>
	<string>gradientAppearance</string>
	<key>grainlayervisible</key>
	<string>navigatorofbridge</string>
	<key>presenterbehavior</key>
	<string>shouldattachrow</string>
	<key>sustainableJoiner</key>
	<string>coordinatorprovision</string>
	<key>temporarySubscription</key>
	<string>durationspeed</string>
</dict>
</plist>
