<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hyperbolicProgressBar</key>
	<string>interfaceLeft</string>
	<key>iconexception</key>
	<string>constraintalignment</string>
	<key>imperativeMedia</key>
	<string>reactiveDecoration</string>
	<key>parallelTabView</key>
	<string>sizedboxstylemode</string>
	<key>pinchableSpine</key>
	<string>behaviorprototypetheme</string>
	<key>prismaticinkwell</key>
	<string>iterativePet</string>
	<key>splitterLeft</key>
	<string>quantizerLabel</string>
	<key>subscriptionresponse</key>
	<string>restoreStorage</string>
</dict>
</plist>
