<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperofform</key>
	<string>requestlifecycle</string>
	<key>exceptionattier</key>
	<string>notifierhash</string>
	<key>mobileInterpolation</key>
	<string>converterOffset</string>
</dict>
</plist>
