<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectSkewX</key>
	<string>futureCoord</string>
	<key>equivalentcenter</key>
	<string>collectionFrequency</string>
	<key>injectioncluster</key>
	<string>modelexceptinterpreter</string>
	<key>multirouter</key>
	<string>mediocreContainer</string>
	<key>semanticMember</key>
	<string>canDetachMusic</string>
</dict>
</plist>
