<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalTernary</key>
	<string>unmountGraphic</string>
	<key>displayableLayout</key>
	<string>processAppBar</string>
	<key>eventdelay</key>
	<string>newestCapacity</string>
	<key>remainderAppearance</key>
	<string>hyperbolicPoint</string>
	<key>techniqueincludesingleton</key>
	<string>generateRadius</string>
</dict>
</plist>
