<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioTension</key>
	<string>shouldMountedSemantics</string>
	<key>capacitiesperbuffer</key>
	<string>ephemeralView</string>
	<key>catalystScale</key>
	<string>cupertinomechanism</string>
	<key>mapperRotation</key>
	<string>canBuildDialogs</string>
	<key>resilientEmitter</key>
	<string>resizableEffect</string>
	<key>respectiveBinary</key>
	<string>lazyConsumer</string>
	<key>shouldDeserializeMargin</key>
	<string>arithmeticNavigation</string>
	<key>smallResilience</key>
	<string>constantOpacity</string>
	<key>tickernumberposition</key>
	<string>layoutFlex</string>
</dict>
</plist>
