<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveScope</key>
	<string>iterativeAudio</string>
	<key>largeMethod</key>
	<string>effectSpeed</string>
	<key>materializertail</key>
	<string>canConnectUnary</string>
	<key>schemaRotation</key>
	<string>specifyprogressbarresponse</string>
	<key>zoneorsingleton</key>
	<string>symbolvisitorleft</string>
</dict>
</plist>
