<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binderAlignment</key>
	<string>unactivatedpermutation</string>
	<key>delegatewithproxy</key>
	<string>errorstrategyoffset</string>
	<key>desktopFragments</key>
	<string>remainderappearance</string>
	<key>lastreliability</key>
	<string>skipcaption</string>
	<key>paddingproxydirection</key>
	<string>cacheandkind</string>
	<key>protectedChecklist</key>
	<string>unaryResponse</string>
	<key>relationalMaster</key>
	<string>promiseTag</string>
</dict>
</plist>
