<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedSpecifier</key>
	<string>numericalScale</string>
	<key>apertureSaturation</key>
	<string>canUpdateBatch</string>
	<key>diversifiedRole</key>
	<string>elasticusecaseinterval</string>
	<key>intermediateDelegate</key>
	<string>fetchRole</string>
	<key>lastInterpolation</key>
	<string>logMode</string>
	<key>multiCheckbox</key>
	<string>observeInkWell</string>
	<key>shouldUnmountPadding</key>
	<string>impactcount</string>
	<key>sizetype</key>
	<string>linkerrate</string>
	<key>vectorAlignment</key>
	<string>movementAcceleration</string>
	<key>widgetversusmediator</key>
	<string>euclideanText</string>
</dict>
</plist>
