<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianWorkflow</key>
	<string>intuitiveGestureDetector</string>
	<key>channelRotation</key>
	<string>sophisticatedContainer</string>
	<key>directlayoutrate</key>
	<string>canReplaceMedia</string>
	<key>disparateReplica</key>
	<string>tickerInteraction</string>
	<key>localrole</key>
	<string>scrollableBase</string>
	<key>projectionofplatform</key>
	<string>euclideanlayout</string>
	<key>shouldencodelayout</key>
	<string>unactivatedEvent</string>
	<key>shouldpushoperation</key>
	<string>shouldMountChecklist</string>
	<key>transformbehavior</key>
	<string>respectivePadding</string>
</dict>
</plist>
