<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentManager</key>
	<string>symmetricTask</string>
	<key>injectionborder</key>
	<string>optimizerrotation</string>
	<key>propagateloop</key>
	<string>nibCenter</string>
	<key>unactivatedAnalyzer</key>
	<string>shouldFetchScale</string>
</dict>
</plist>
