<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstUseCase</key>
	<string>detailScale</string>
	<key>functionalSlider</key>
	<string>gemInteraction</string>
	<key>handlerprocessdensity</key>
	<string>dynamicascent</string>
	<key>mutableaxis</key>
	<string>findpet</string>
	<key>similargem</key>
	<string>spotAlignment</string>
</dict>
</plist>
