<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoNode</key>
	<string>flexFlags</string>
	<key>fixedRoute</key>
	<string>onpromisechanged</string>
	<key>pivotalPlate</key>
	<string>normPadding</string>
	<key>sinkbyshape</key>
	<string>serializecharacter</string>
	<key>subsequentdependencymomentum</key>
	<string>listenSprite</string>
</dict>
</plist>
