<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteScaffold</key>
	<string>shouldStartSegment</string>
	<key>dismisserror</key>
	<string>aspectcontroller</string>
	<key>greatConvolution</key>
	<string>handleFragment</string>
	<key>hierarchicalresourcetop</key>
	<string>accessiblepriority</string>
	<key>loopTag</key>
	<string>selectedgesturedetector</string>
	<key>reusableCombiner</key>
	<string>sharedtouch</string>
	<key>scrollableEquivalent</key>
	<string>monsterInset</string>
	<key>shouldDismissLogarithm</key>
	<string>desktopButton</string>
	<key>usedisolateleft</key>
	<string>unactivatedSink</string>
	<key>widgetDirection</key>
	<string>crudeListView</string>
</dict>
</plist>
