<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mediocreExponent</key>
	<string>serializeButton</string>
	<key>nextCard</key>
	<string>recursionCenter</string>
	<key>tappablealignment</key>
	<string>calculateTopic</string>
</dict>
</plist>
