<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerScale</key>
	<string>releaseVector</string>
	<key>declarativeSound</key>
	<string>conformRect</string>
	<key>inheritedDistinction</key>
	<string>promisesystemtop</string>
	<key>newestIntensity</key>
	<string>iterativePolyfill</string>
	<key>webEquivalent</key>
	<string>storetierindex</string>
</dict>
</plist>
