<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerAperture</key>
	<string>clearTransition</string>
	<key>displayableinstruction</key>
	<string>popupStatus</string>
	<key>globalGraph</key>
	<string>segmentversusplatform</string>
	<key>mainEquipment</key>
	<string>consultativeRepository</string>
	<key>scenarioResponse</key>
	<string>retrievePosition</string>
	<key>shouldPersistChecklist</key>
	<string>metadatatop</string>
	<key>sophisticatedsemanticsmargin</key>
	<string>shouldUpdateSignature</string>
	<key>tangentformresponse</key>
	<string>sinkOperation</string>
</dict>
</plist>
