<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticScalability</key>
	<string>agileReplica</string>
	<key>infoPressure</key>
	<string>inactiveResolver</string>
	<key>mendScale</key>
	<string>compositionalSelector</string>
	<key>offsetwithoutparam</key>
	<string>responsiveTransformer</string>
	<key>pivotalSplitter</key>
	<string>easyContrast</string>
	<key>popuptransparency</key>
	<string>cubitHead</string>
	<key>shouldFormatAspect</key>
	<string>subsequentRectangle</string>
	<key>similarInjection</key>
	<string>transformWidget</string>
</dict>
</plist>
