<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptivechallenge</key>
	<string>inactiveMultiplication</string>
	<key>annotateresolver</key>
	<string>parsesegue</string>
	<key>flexibleBitrate</key>
	<string>publicGram</string>
	<key>optionDepth</key>
	<string>equivalentCoord</string>
	<key>prismaticBinder</key>
	<string>cubitAdapter</string>
	<key>reducerdelivery</key>
	<string>asynchronousBinder</string>
	<key>reusableLog</key>
	<string>splitterState</string>
	<key>reusableSchema</key>
	<string>symmetricExponent</string>
</dict>
</plist>
