<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>euclideanStamp</key>
	<string>cacheInstruction</string>
	<key>largeconfigurationdistance</key>
	<string>appendChannel</string>
	<key>originalComposition</key>
	<string>sliderpressure</string>
	<key>shouldroutebox</key>
	<string>shouldtransformmaterial</string>
</dict>
</plist>
