<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticTail</key>
	<string>consumerSkewY</string>
	<key>buttoninset</key>
	<string>relationalTabBar</string>
	<key>composableLayout</key>
	<string>locateappbar</string>
	<key>difficultAppBar</key>
	<string>compositionalInteractor</string>
	<key>difficultInfrastructure</key>
	<string>canTransformBaseline</string>
	<key>relationalStorage</key>
	<string>shouldKeepObserver</string>
	<key>semanticresolvertail</key>
	<string>precisionTransparency</string>
	<key>shouldDisconnectAnimatedContainer</key>
	<string>granularCharacteristic</string>
	<key>singleModule</key>
	<string>basicGesture</string>
</dict>
</plist>
