<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gestureHue</key>
	<string>setupRadius</string>
	<key>publicAllocator</key>
	<string>effectBehavior</string>
	<key>reductionStatus</key>
	<string>intermediateEqualization</string>
	<key>shouldValidatePromise</key>
	<string>metadatatrajectory</string>
</dict>
</plist>
