<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterFrequency</key>
	<string>notifyNavigator</string>
	<key>largeSelector</key>
	<string>blocvisibility</string>
	<key>prevDetail</key>
	<string>immutableMethod</string>
	<key>relationalAperture</key>
	<string>tabviewAdapter</string>
	<key>sharedConnector</key>
	<string>pivotalTool</string>
	<key>substantialtopic</key>
	<string>replaceMediaQuery</string>
</dict>
</plist>
