<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentArithmetic</key>
	<string>canBuildReference</string>
	<key>difficultBuilder</key>
	<string>threadParam</string>
	<key>processaspectratio</key>
	<string>particleuntilcomposite</string>
	<key>responderrotation</key>
	<string>desktopTolerance</string>
	<key>restartpromise</key>
	<string>canUnbindRichText</string>
	<key>seamlessRequest</key>
	<string>accordionStorage</string>
	<key>serviceDistance</key>
	<string>stateatvalue</string>
	<key>textureValidation</key>
	<string>canAttachCapacities</string>
</dict>
</plist>
