<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convolutionbuffer</key>
	<string>gesturedetectorTheme</string>
	<key>criticalMission</key>
	<string>symbolFunction</string>
	<key>imperativeFragment</key>
	<string>mountedImage</string>
	<key>semanticAscent</key>
	<string>canCreateGrayscale</string>
	<key>shouldDisconnectTextField</key>
	<string>polygonPressure</string>
	<key>subscribegrain</key>
	<string>ignoredAlpha</string>
	<key>subsequentMedia</key>
	<string>asynchronousBehavior</string>
	<key>usecasethroughput</key>
	<string>actionlocation</string>
</dict>
</plist>
