<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicDisclaimer</key>
	<string>boxshadowpressure</string>
	<key>currentSizedBox</key>
	<string>matrixComposite</string>
	<key>granularCard</key>
	<string>entityprototypevalidation</string>
</dict>
</plist>
