<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curvelatency</key>
	<string>localmodal</string>
	<key>prevResolver</key>
	<string>actionrate</string>
	<key>shouldMountedPrecision</key>
	<string>parallelLayout</string>
	<key>skirtdensity</key>
	<string>numericalMission</string>
	<key>statelessTicker</key>
	<string>hasGridView</string>
</dict>
</plist>
