<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianNode</key>
	<string>processNavigator</string>
	<key>certificateRight</key>
	<string>cacheoptimizer</string>
	<key>filterSize</key>
	<string>temporarydetector</string>
	<key>newestMesh</key>
	<string>easyMaterializer</string>
	<key>persistentUtil</key>
	<string>quantizerTransformer</string>
	<key>precisionAppearance</key>
	<string>constantInterval</string>
	<key>replicaCount</key>
	<string>invisibleHeap</string>
	<key>timestatus</key>
	<string>cardresponse</string>
	<key>uniformMenu</key>
	<string>attachgraph</string>
</dict>
</plist>
