<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredNotifier</key>
	<string>diffableDetail</string>
	<key>hasmaterial</key>
	<string>crucialSchema</string>
	<key>responseformfeedback</key>
	<string>instantiatebloc</string>
	<key>sharedEvolution</key>
	<string>fixedEntropy</string>
	<key>shouldSetStateDocument</key>
	<string>retainedGift</string>
	<key>staticManager</key>
	<string>dismissClipper</string>
	<key>subtleStorage</key>
	<string>directlyTime</string>
</dict>
</plist>
