<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousBehavior</key>
	<string>maxSpecifier</string>
	<key>bufferOffset</key>
	<string>latencyOpacity</string>
	<key>metadatalocation</key>
	<string>activatedInterpolation</string>
	<key>prevElasticity</key>
	<string>occasionBottom</string>
	<key>shouldBindButton</key>
	<string>processcosine</string>
	<key>shouldFetchConsumer</key>
	<string>retainScene</string>
	<key>sortedModulus</key>
	<string>nativeSkin</string>
	<key>subsequentJoiner</key>
	<string>canRenderLog</string>
</dict>
</plist>
