<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorRate</key>
	<string>inheritedRange</string>
	<key>diffableState</key>
	<string>disparateSpot</string>
	<key>equalizationDensity</key>
	<string>pagerOffset</string>
	<key>labelnearstage</key>
	<string>futureName</string>
	<key>logarithmInterval</key>
	<string>observerKind</string>
	<key>selectedAppBar</key>
	<string>futurestroke</string>
	<key>shouldInflateContainer</key>
	<string>staticScaffold</string>
	<key>significantAnalyzer</key>
	<string>freerole</string>
	<key>subpixelbridgetransparency</key>
	<string>channelsinsidevisitor</string>
</dict>
</plist>
