<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completiontolerance</key>
	<string>localcubescale</string>
	<key>documentPressure</key>
	<string>resilientTable</string>
	<key>greatTime</key>
	<string>synchronousPromise</string>
	<key>hyperbolicPainter</key>
	<string>shouldListenBinary</string>
	<key>largemetadatacolor</key>
	<string>histogramColor</string>
	<key>mutableMenu</key>
	<string>tickerevent</string>
	<key>navigatorstageorigin</key>
	<string>segmentForm</string>
	<key>replaceparticle</key>
	<string>primaryInteger</string>
	<key>shouldPersistSkirt</key>
	<string>aspectratiountilstyle</string>
	<key>shouldsavetextfield</key>
	<string>robustFilter</string>
</dict>
</plist>
