<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerStrength</key>
	<string>imperativeDistinction</string>
	<key>firstStorage</key>
	<string>remainderamongproxy</string>
	<key>fragmentthroughcomposite</key>
	<string>shouldPrepareGradient</string>
	<key>primaryAudio</key>
	<string>tickerContrast</string>
	<key>priorGraph</key>
	<string>chartCenter</string>
	<key>specifymaterial</key>
	<string>petChain</string>
	<key>uniformChallenge</key>
	<string>seamlessPolygon</string>
</dict>
</plist>
