<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>requestorientation</key>
	<string>shouldListenConvolution</string>
	<key>shaderContrast</key>
	<string>largestate</string>
	<key>shouldBindCache</key>
	<string>enabledDelivery</string>
	<key>sophisticatedBullet</key>
	<string>grainInteraction</string>
	<key>widgettimeline</key>
	<string>decorationKind</string>
</dict>
</plist>
