<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedVariant</key>
	<string>widgetChain</string>
	<key>oldCompletion</key>
	<string>discardedService</string>
	<key>statelessmomentum</key>
	<string>standalonefeaturedistance</string>
	<key>transformerror</key>
	<string>routeGridView</string>
</dict>
</plist>
