<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorlocalization</key>
	<string>reactiveCell</string>
	<key>binderHue</key>
	<string>cancelProfile</string>
	<key>scenarioHead</key>
	<string>canYieldMomentum</string>
	<key>smartRoute</key>
	<string>cacheAperture</string>
	<key>workflowEdge</key>
	<string>canListenAnimatedContainer</string>
</dict>
</plist>
