<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fragmentsFeedback</key>
	<string>declarativeMend</string>
	<key>singleTicker</key>
	<string>tappableRow</string>
	<key>usagestrategystyle</key>
	<string>shouldContinueGridView</string>
</dict>
</plist>
