<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousProvision</key>
	<string>accelerateBuffer</string>
	<key>blocadapterhue</key>
	<string>alignmentTag</string>
	<key>contrastTail</key>
	<string>deactivateRow</string>
	<key>cupertinoData</key>
	<string>layoutDepth</string>
	<key>globalPresenter</key>
	<string>asynchronousVariant</string>
	<key>normalconstraint</key>
	<string>handleStateless</string>
	<key>shouldMountUnary</key>
	<string>substantialFlex</string>
	<key>shouldPaintTool</key>
	<string>canPublishNavigator</string>
	<key>shouldcancelchallenge</key>
	<string>keyGrain</string>
	<key>toleranceFlags</key>
	<string>delicateConnector</string>
</dict>
</plist>
