<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedDecoration</key>
	<string>transitionMission</string>
	<key>descriptorvarcolor</key>
	<string>unmarshalChannel</string>
	<key>eventKind</key>
	<string>globalAnalyzer</string>
	<key>inactiveSubpixel</key>
	<string>cacheEquipment</string>
	<key>integrationColor</key>
	<string>subpixelLeft</string>
	<key>iterativeOccasion</key>
	<string>detachSink</string>
	<key>relationalchartdirection</key>
	<string>shouldUnmountedDuration</string>
	<key>webCard</key>
	<string>flexiblecluster</string>
</dict>
</plist>
