<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ephemeralPriority</key>
	<string>aspectratioPosition</string>
	<key>equipmentlevelmode</key>
	<string>detachAwait</string>
	<key>explicitContainer</key>
	<string>temporaryLoss</string>
	<key>ignoredmobile</key>
	<string>certificateObserver</string>
	<key>profilemend</key>
	<string>clearView</string>
	<key>routerborder</key>
	<string>mainmodel</string>
	<key>shouldRouteHero</key>
	<string>accessibleerror</string>
	<key>sliderSkewX</key>
	<string>requestGroup</string>
</dict>
</plist>
