<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletstructureposition</key>
	<string>shouldrestartpoint</string>
	<key>commonInkWell</key>
	<string>directIndicator</string>
	<key>dynamicremediation</key>
	<string>oldEvolution</string>
</dict>
</plist>
