<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoSegment</key>
	<string>persistentSwift</string>
	<key>bufferduration</key>
	<string>appbarComposite</string>
	<key>builderAlignment</key>
	<string>canDispatchDecoration</string>
	<key>durationAlignment</key>
	<string>canConnectLabel</string>
	<key>logSkewX</key>
	<string>unaryVelocity</string>
	<key>reusableradius</key>
	<string>canNavigateCapsule</string>
	<key>robustAppBar</key>
	<string>arithmeticGraphic</string>
	<key>shouldAnimateGram</key>
	<string>sessionBorder</string>
	<key>subtleRemediation</key>
	<string>canEndCharacter</string>
	<key>variantalignment</key>
	<string>zoneRotation</string>
</dict>
</plist>
