<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedtexturedirection</key>
	<string>sophisticatedDimension</string>
	<key>controllercontainvisitor</key>
	<string>pendingPet</string>
	<key>descriptordelivery</key>
	<string>variantStructure</string>
	<key>publicReliability</key>
	<string>serializenotification</string>
	<key>robustCluster</key>
	<string>profileChannel</string>
	<key>shouldCacheKernel</key>
	<string>searchConstraint</string>
	<key>shouldContinueRemainder</key>
	<string>compositionrequest</string>
	<key>shouldDetachContainer</key>
	<string>mutableCapacities</string>
	<key>shouldPauseMaster</key>
	<string>interactiveLoop</string>
	<key>tappableaspect</key>
	<string>entitytheme</string>
</dict>
</plist>
