<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorcompositefeedback</key>
	<string>prepareScaffold</string>
	<key>customizedcube</key>
	<string>inheritedCombiner</string>
	<key>graphduringframework</key>
	<string>backwardLoader</string>
	<key>independentMember</key>
	<string>shouldDetachIcon</string>
	<key>integeraroundform</key>
	<string>decorationVisibility</string>
	<key>mediocreDistinction</key>
	<string>canTransitionTransition</string>
	<key>particletypebottom</key>
	<string>flexFeedback</string>
	<key>primaryInteger</key>
	<string>asynchronousEvolution</string>
	<key>shouldStreamNotifier</key>
	<string>projectionType</string>
	<key>singleController</key>
	<string>resourceDirection</string>
</dict>
</plist>
