<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateTangent</key>
	<string>shouldDecodeDimension</string>
	<key>denseLatency</key>
	<string>shouldlayoutflex</string>
	<key>shouldCacheProfile</key>
	<string>opaqueStroke</string>
	<key>tensorMargin</key>
	<string>comprehensiveProvider</string>
	<key>topicmodel</key>
	<string>spinRadius</string>
</dict>
</plist>
