<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardMapper</key>
	<string>canHandleConstraint</string>
	<key>easyUsage</key>
	<string>dedicatedBase</string>
	<key>listenstamp</key>
	<string>graphicdepth</string>
	<key>localgraph</key>
	<string>endcosine</string>
	<key>mediumOccasion</key>
	<string>processResult</string>
	<key>shouldcreategate</key>
	<string>inactiveComposition</string>
	<key>sustainableCreator</key>
	<string>errorelement</string>
</dict>
</plist>
