<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedSwitch</key>
	<string>robustAwait</string>
	<key>comprehensiveGrain</key>
	<string>animateShader</string>
	<key>cupertinotransformersize</key>
	<string>elasticityKind</string>
	<key>ephemeralWorkflow</key>
	<string>animatesingleton</string>
	<key>interactionValidation</key>
	<string>strengthcolor</string>
	<key>mediumGraph</key>
	<string>dismisspriority</string>
	<key>otherhandler</key>
	<string>subscriberDistance</string>
	<key>prismaticTimer</key>
	<string>difficultMonster</string>
	<key>retainedMultiplication</key>
	<string>missedManager</string>
	<key>shouldEmitEquipment</key>
	<string>heroDuration</string>
</dict>
</plist>
