<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioHead</key>
	<string>stamplevelappearance</string>
	<key>explicitTabBar</key>
	<string>managerNumber</string>
	<key>imperativeItem</key>
	<string>taskDirection</string>
	<key>onoptimizertap</key>
	<string>compositionalModulus</string>
	<key>protectedStoryboard</key>
	<string>shouldNotifyCache</string>
	<key>shouldFormatCapsule</key>
	<string>axisFrequency</string>
	<key>usedmodelsize</key>
	<string>shouldSaveCard</string>
</dict>
</plist>
