<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audioName</key>
	<string>draggableConstraint</string>
	<key>beginnerexponenttransparency</key>
	<string>canCreateWidget</string>
	<key>capacitiesuntilstrategy</key>
	<string>themeInterval</string>
	<key>cupertinoentity</key>
	<string>reactiveHistogram</string>
	<key>entropyvalidation</key>
	<string>sharedResponder</string>
	<key>formatMode</key>
	<string>traversalPressure</string>
	<key>loadimage</key>
	<string>shouldPushDuration</string>
</dict>
</plist>
