<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayablepageview</key>
	<string>difficultCard</string>
	<key>imperativeChart</key>
	<string>canSaveCycle</string>
	<key>lazyHandler</key>
	<string>extensionChain</string>
	<key>lazycontroller</key>
	<string>temporaryNavigation</string>
	<key>multiHash</key>
	<string>layoutCosine</string>
	<key>uniformslideredge</key>
	<string>unmountedGate</string>
</dict>
</plist>
