<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerPlate</key>
	<string>disparatehistogramtension</string>
	<key>cubeoffset</key>
	<string>processRepository</string>
	<key>customizedVariant</key>
	<string>subscribeExpanded</string>
	<key>nibgrain</key>
	<string>localBullet</string>
	<key>parallelStore</key>
	<string>shouldUnmountThread</string>
	<key>shouldreplacemobile</key>
	<string>discardedScreen</string>
	<key>tweenVelocity</key>
	<string>shouldPublishSpine</string>
</dict>
</plist>
