<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activebox</key>
	<string>canEmitHeap</string>
	<key>axisPosition</key>
	<string>destroyChart</string>
	<key>cupertinobutton</key>
	<string>menutype</string>
	<key>explicitgrainsaturation</key>
	<string>limitTexture</string>
	<key>fusedPermutation</key>
	<string>canSetStateProjection</string>
	<key>infrastructureDuration</key>
	<string>canStreamThread</string>
	<key>observeinkwell</key>
	<string>processorCoord</string>
	<key>responsiveTaxonomy</key>
	<string>secondImpact</string>
	<key>shouldObserveStream</key>
	<string>giftdescription</string>
	<key>shouldStartGesture</key>
	<string>persistentModal</string>
</dict>
</plist>
