<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dispatcherKind</key>
	<string>delegateofactivity</string>
	<key>explicitTraversal</key>
	<string>handleError</string>
	<key>gatereceiver</key>
	<string>projectionEdge</string>
	<key>hardservicerotation</key>
	<string>publisherFrequency</string>
</dict>
</plist>
