<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleMapper</key>
	<string>opaqueLayer</string>
	<key>animatedStack</key>
	<string>adjustrouter</string>
	<key>animatedWidget</key>
	<string>futureFrequency</string>
	<key>beginnerslash</key>
	<string>streamGradient</string>
	<key>difficultUnary</key>
	<string>requiredSingleton</string>
	<key>resolverelement</key>
	<string>shouldStartMaster</string>
	<key>responderOffset</key>
	<string>visiblePadding</string>
	<key>shouldRenderGem</key>
	<string>parallelImage</string>
	<key>shouldSerializeNavigation</key>
	<string>shouldReplaceNotifier</string>
	<key>uniformMaterial</key>
	<string>yieldMaterial</string>
</dict>
</plist>
