<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easyCanvas</key>
	<string>resetTween</string>
	<key>futureandstyle</key>
	<string>optimizerMomentum</string>
	<key>giftbeyondmode</key>
	<string>easyHandler</string>
	<key>interactionCenter</key>
	<string>accessibleData</string>
	<key>shouldRenderFlex</key>
	<string>canMountSlider</string>
	<key>subscriptiontierforce</key>
	<string>semanticDialogs</string>
	<key>uniformgiftskewy</key>
	<string>continueGesture</string>
</dict>
</plist>
