<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktoptangentvisible</key>
	<string>synccatalyst</string>
	<key>giftcontainstage</key>
	<string>variantVar</string>
	<key>primarymusicorigin</key>
	<string>stampDuration</string>
	<key>shouldrenderthread</key>
	<string>shouldRestartThread</string>
</dict>
</plist>
