<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetState</key>
	<string>deliveryRate</string>
	<key>cacheShape</key>
	<string>futurefromcommand</string>
	<key>channelsEdge</key>
	<string>delegateModel</string>
	<key>fixedProtocol</key>
	<string>plateResponse</string>
	<key>inflateaccessory</key>
	<string>setstateAnimatedContainer</string>
	<key>lossInteraction</key>
	<string>selectedscaffold</string>
	<key>multiLoader</key>
	<string>channelFormat</string>
	<key>secondAction</key>
	<string>canStartModal</string>
	<key>shouldStreamTable</key>
	<string>shouldFinishCurve</string>
	<key>spinlayout</key>
	<string>displayableDelegate</string>
</dict>
</plist>
