<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>amortizationVisibility</key>
	<string>selectedBitrate</string>
	<key>cupertinoradiusstyle</key>
	<string>semanticsactivityposition</string>
	<key>moduleDuration</key>
	<string>animateStateless</string>
	<key>shouldFetchMultiplication</key>
	<string>quantizationAlignment</string>
	<key>shouldListenController</key>
	<string>shouldPublishNorm</string>
	<key>signatureBound</key>
	<string>richtextlikestrategy</string>
	<key>streamviaframework</key>
	<string>intuitiveAxis</string>
</dict>
</plist>
