<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousTrajectory</key>
	<string>newestProvider</string>
	<key>binaryviavariable</key>
	<string>robustSchema</string>
	<key>customizedBinder</key>
	<string>directdelegate</string>
	<key>diversifiedDisclaimer</key>
	<string>canRenderBinary</string>
	<key>elasticItem</key>
	<string>onunarychanged</string>
	<key>informationOffset</key>
	<string>directRepository</string>
	<key>shouldBuildDialogs</key>
	<string>ascentSpeed</string>
	<key>shouldDeserializeCurve</key>
	<string>positionedprocessvisible</string>
	<key>tangentInterval</key>
	<string>converterTag</string>
</dict>
</plist>
