<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinogatecenter</key>
	<string>missedFormat</string>
	<key>shouldUnbindCanvas</key>
	<string>topiccluster</string>
	<key>unmountedbitrate</key>
	<string>protectedChapter</string>
</dict>
</plist>
