<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledVariant</key>
	<string>allocateGrid</string>
	<key>fragmentsFeedback</key>
	<string>infrastructureTail</string>
	<key>immediatetabview</key>
	<string>shouldPrepareAppBar</string>
	<key>reductionMomentum</key>
	<string>semanticcatalyst</string>
	<key>subsequentThreshold</key>
	<string>detachSpecifier</string>
</dict>
</plist>
