<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>evolutionskewy</key>
	<string>dedicatedState</string>
	<key>intuitivePermutation</key>
	<string>semanticsInterpreter</string>
	<key>layerwithoutmemento</key>
	<string>scenarioVelocity</string>
	<key>litePolygon</key>
	<string>delicateHash</string>
</dict>
</plist>
