<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacityHue</key>
	<string>routercount</string>
	<key>specifyBehavior</key>
	<string>brushInterval</string>
	<key>timelineappearance</key>
	<string>hyperbolicDescription</string>
</dict>
</plist>
