<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonFeature</key>
	<string>factoryColor</string>
	<key>eventthroughframework</key>
	<string>autoModulus</string>
	<key>functionalMedia</key>
	<string>shouldRebuildView</string>
	<key>globalLabel</key>
	<string>interpolateRepository</string>
	<key>invisibleCoordinator</key>
	<string>canConnectMatrix</string>
	<key>keeputil</key>
	<string>backwardAsync</string>
	<key>originalBinder</key>
	<string>cyclesearcher</string>
	<key>specifierdelay</key>
	<string>uniformConstraint</string>
	<key>symbolDepth</key>
	<string>unmountedRow</string>
	<key>tolerancekind</key>
	<string>tensorpet</string>
</dict>
</plist>
