<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>evaluationOpacity</key>
	<string>connectReference</string>
	<key>featurerotation</key>
	<string>requestPresenter</string>
	<key>greattransformerposition</key>
	<string>canDecodeLog</string>
	<key>independentblocforce</key>
	<string>dependencytweak</string>
	<key>resilientqueue</key>
	<string>refreshObserver</string>
	<key>serviceresponse</key>
	<string>switchformmargin</string>
	<key>shouldFetchUnary</key>
	<string>minBitrate</string>
	<key>touchLeft</key>
	<string>obtainConstraint</string>
	<key>usageState</key>
	<string>backwardAnimation</string>
	<key>visibleEffect</key>
	<string>canBuildGift</string>
</dict>
</plist>
