<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesTag</key>
	<string>bitratedecoratorcount</string>
	<key>cellparameterrotation</key>
	<string>confidentialityInset</string>
	<key>configurationCenter</key>
	<string>crudeTask</string>
	<key>layoutcosine</key>
	<string>shouldFormatSession</string>
	<key>parallelEfficiency</key>
	<string>descentTransparency</string>
	<key>resilientRenderer</key>
	<string>liteMap</string>
	<key>shouldFinishGift</key>
	<string>subsequentRadius</string>
	<key>shouldListenBoxShadow</key>
	<string>aperturebyfacade</string>
	<key>specifyMargin</key>
	<string>imperativeAnalogy</string>
	<key>substantialContainer</key>
	<string>loaderHead</string>
</dict>
</plist>
