<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shouldPrepareSession</key>
	<string>commonFeature</string>
	<key>shouldTransitionMultiplication</key>
	<string>sophisticatedSink</string>
	<key>specifyIntegration</key>
	<string>subpixelEnvironment</string>
	<key>sustainableResource</key>
	<string>activeInteractor</string>
</dict>
</plist>
