<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowRotation</key>
	<string>navigatorType</string>
	<key>euclideanTheme</key>
	<string>shouldStreamComposition</string>
	<key>numericalPresenter</key>
	<string>shaderMediator</string>
	<key>rapidSession</key>
	<string>smallmedia</string>
</dict>
</plist>
