<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaFlags</key>
	<string>resumeawait</string>
	<key>featurepressure</key>
	<string>staticCluster</string>
	<key>previewMode</key>
	<string>transitionFlyweight</string>
	<key>subpixelflags</key>
	<string>lossTension</string>
	<key>symmetricMaterial</key>
	<string>transformerCommand</string>
</dict>
</plist>
