<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteCanvas</key>
	<string>cancelOptimizer</string>
	<key>relationalCache</key>
	<string>containerSpacing</string>
	<key>shouldSetStateRadio</key>
	<string>disposeAlert</string>
</dict>
</plist>
