<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analyzerResponse</key>
	<string>retainPreview</string>
	<key>disparateStamp</key>
	<string>canObserveCosine</string>
	<key>originalEmitter</key>
	<string>bindAlpha</string>
	<key>shouldEndMomentum</key>
	<string>deflateResult</string>
	<key>shouldSkipTouch</key>
	<string>elasticRestriction</string>
</dict>
</plist>
