<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderAcceleration</key>
	<string>flexstatus</string>
	<key>constraintcontrast</key>
	<string>shouldMountGift</string>
	<key>mobileCard</key>
	<string>ongramchanged</string>
	<key>mobileDelay</key>
	<string>canCacheBox</string>
	<key>shouldDisposeDocument</key>
	<string>defaultProvider</string>
	<key>sizedboxzone</key>
	<string>connectTitle</string>
</dict>
</plist>
