<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileOverlay</key>
	<string>sliderCount</string>
	<key>backwardController</key>
	<string>publicPainter</string>
	<key>entropyvisible</key>
	<string>elasticfuture</string>
	<key>imperativeDialogs</key>
	<string>navigatorwithoutflyweight</string>
	<key>menuDistance</key>
	<string>capacityDuration</string>
	<key>priorityCount</key>
	<string>canObserveRadio</string>
	<key>rowshader</key>
	<string>checkDelegate</string>
</dict>
</plist>
