<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cyclebridgetail</key>
	<string>canListenDocument</string>
	<key>instructionBound</key>
	<string>normalImage</string>
	<key>mobileIntegrity</key>
	<string>localDependency</string>
	<key>scrollableAnalyzer</key>
	<string>queueOrigin</string>
	<key>streamlinecubit</key>
	<string>notifierBorder</string>
	<key>wraplayer</key>
	<string>reflectSubscription</string>
</dict>
</plist>
