<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileConnector</key>
	<string>keepScaffold</string>
	<key>animatorBrightness</key>
	<string>asynchronousRepository</string>
	<key>buildervariabletension</key>
	<string>enabledAspect</string>
	<key>euclideanProcessor</key>
	<string>shouldRestartChannels</string>
	<key>presentswitch</key>
	<string>smallGraphic</string>
	<key>repositorywithouttask</key>
	<string>gaterequest</string>
</dict>
</plist>
