<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedSine</key>
	<string>symmetricMusic</string>
	<key>controllerDepth</key>
	<string>directentitypressure</string>
	<key>invisibleContrast</key>
	<string>serviceOffset</string>
	<key>iterativeState</key>
	<string>canDisconnectConstraint</string>
	<key>mutableresult</key>
	<string>semanticsVisitor</string>
	<key>popuptag</key>
	<string>shouldRebuildClipper</string>
	<key>restartcanvas</key>
	<string>shouldPauseTouch</string>
	<key>serializenode</key>
	<string>effectHue</string>
	<key>shouldParseOption</key>
	<string>canDecodeGram</string>
	<key>viewDensity</key>
	<string>sorterdelay</string>
</dict>
</plist>
