<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleSizedBox</key>
	<string>replaceCubit</string>
	<key>appbarSpacing</key>
	<string>positionedFormat</string>
	<key>mobileremainderpadding</key>
	<string>canProcessDropdownButton</string>
	<key>persistentLatency</key>
	<string>equalAction</string>
	<key>scopename</key>
	<string>sustainableGift</string>
	<key>subscriberposition</key>
	<string>storagecapacity</string>
	<key>swifttail</key>
	<string>tappableCheckbox</string>
</dict>
</plist>
