<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxFormat</key>
	<string>temporarySprite</string>
	<key>directlyRenderer</key>
	<string>flexibleInstruction</string>
	<key>hashCount</key>
	<string>responsiveReducer</string>
	<key>iterativeMedia</key>
	<string>formatScaffold</string>
	<key>titlecontaintask</key>
	<string>titleamortization</string>
	<key>unregisterconvolution</key>
	<string>resourcemethoddistance</string>
</dict>
</plist>
