<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diversifiedMetadata</key>
	<string>uniformChapter</string>
	<key>fragmentsName</key>
	<string>dissociateDuration</string>
	<key>largeoffsetposition</key>
	<string>requestTheme</string>
	<key>polygondirection</key>
	<string>secondDescription</string>
	<key>robustVideo</key>
	<string>resizableAspectRatio</string>
	<key>shouldFinishRadio</key>
	<string>geometricMatrix</string>
	<key>shouldPersistOptimizer</key>
	<string>handleTicker</string>
	<key>tensorUsage</key>
	<string>mergerContrast</string>
</dict>
</plist>
