<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationPressure</key>
	<string>canLayoutCard</string>
	<key>commonPreview</key>
	<string>locatestorage</string>
	<key>comprehensiveSample</key>
	<string>sessionProcess</string>
	<key>cupertinoScene</key>
	<string>groupbeyondcycle</string>
	<key>deserializelocalization</key>
	<string>reactiveAscent</string>
	<key>elasticBitrate</key>
	<string>secondWrapper</string>
	<key>fixedFrame</key>
	<string>canDetachListView</string>
	<key>mainAsset</key>
	<string>shouldEncodeInstruction</string>
	<key>primaryModulus</key>
	<string>opaqueData</string>
</dict>
</plist>
