<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerMode</key>
	<string>layoutVelocity</string>
	<key>criticalBase</key>
	<string>primaryProgressBar</string>
	<key>ephemeralbuttoncontrast</key>
	<string>permanentPublisher</string>
	<key>framedecoratorduration</key>
	<string>delicateChart</string>
	<key>pointScale</key>
	<string>utilIndex</string>
	<key>rapidStack</key>
	<string>metadatakind</string>
	<key>shouldUnbindProject</key>
	<string>particleFlyweight</string>
	<key>sinkTail</key>
	<string>prepareContainer</string>
</dict>
</plist>
