<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorResponse</key>
	<string>rectFrequency</string>
	<key>denseRequest</key>
	<string>marshalRoute</string>
	<key>elasticskin</key>
	<string>canConnectGesture</string>
	<key>isolatehue</key>
	<string>canRestartCell</string>
	<key>plateScale</key>
	<string>singleTabView</string>
	<key>resilientEmitter</key>
	<string>activeSlash</string>
	<key>routeactionshape</key>
	<string>imperativeChannel</string>
	<key>sustainableContainer</key>
	<string>coordinatorFramework</string>
	<key>tabviewticker</key>
	<string>mediaActivity</string>
	<key>widgetawaycommand</key>
	<string>shouldHandleSign</string>
</dict>
</plist>
