<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionInset</key>
	<string>shouldPrepareGridView</string>
	<key>crudeReducer</key>
	<string>interceptCurve</string>
	<key>immediateFrame</key>
	<string>delicateObserver</string>
	<key>publicAspect</key>
	<string>textmode</string>
	<key>serviceDepth</key>
	<string>rapidRenderer</string>
	<key>shouldTrainRadio</key>
	<string>dedicatedAwait</string>
	<key>transformeragainstadapter</key>
	<string>shouldUnbindSpine</string>
	<key>visualizevector</key>
	<string>compositionalAnimation</string>
</dict>
</plist>
