<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowkind</key>
	<string>activatedMonster</string>
	<key>draggableException</key>
	<string>shouldListenGram</string>
	<key>impressionType</key>
	<string>certificateStrategy</string>
	<key>methodchooser</key>
	<string>resumeSizedBox</string>
	<key>mobileText</key>
	<string>spinLoop</string>
	<key>modulusTag</key>
	<string>interceptGroup</string>
	<key>richtextBottom</key>
	<string>materializerHue</string>
	<key>shouldValidateNotifier</key>
	<string>discardedListView</string>
	<key>tensorBase</key>
	<string>canLoadCupertino</string>
</dict>
</plist>
