<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isaspect</key>
	<string>statelessSensor</string>
	<key>iscolumn</key>
	<string>factoryDistance</string>
	<key>listenerstyletheme</key>
	<string>timerMomentum</string>
	<key>resilientInteractor</key>
	<string>masterNumber</string>
	<key>shouldLoadAspectRatio</key>
	<string>augmentcoordinator</string>
	<key>shouldPopSine</key>
	<string>priorityMargin</string>
	<key>sliderparticle</key>
	<string>sortedAsset</string>
	<key>statefulSemantics</key>
	<string>missedDetail</string>
	<key>storageimpression</key>
	<string>granularScaffold</string>
</dict>
</plist>
