<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseIcon</key>
	<string>permissivemanager</string>
	<key>exponentmomentum</key>
	<string>protocolShape</string>
	<key>operationborder</key>
	<string>firstrestriction</string>
	<key>polyfillColor</key>
	<string>decodeScaffold</string>
	<key>radiusamongvar</key>
	<string>layoutEffect</string>
	<key>rapidSample</key>
	<string>validateScreen</string>
	<key>shouldObserveReference</key>
	<string>lossShade</string>
	<key>sinepressure</key>
	<string>rebuildButton</string>
	<key>standaloneIntensity</key>
	<string>moveFactory</string>
	<key>uniformAudio</key>
	<string>canRestartScreen</string>
</dict>
</plist>
