<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeoptionrotation</key>
	<string>beginnerAnimatedContainer</string>
	<key>mounttouch</key>
	<string>refreshFrame</string>
	<key>selectedconvolution</key>
	<string>startFuture</string>
	<key>subscriptionSpacing</key>
	<string>formatResource</string>
	<key>transformobserver</key>
	<string>moveisolate</string>
</dict>
</plist>
