<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensivePrecision</key>
	<string>titleoffset</string>
	<key>evaluategesturedetector</key>
	<string>sortedBullet</string>
	<key>offsetDensity</key>
	<string>greatJoiner</string>
	<key>relationalProvision</key>
	<string>repositoryinterpreterbehavior</string>
	<key>replicainteraction</key>
	<string>characterFeedback</string>
	<key>scrollableSpecifier</key>
	<string>ephemeralcacheposition</string>
	<key>shouldContinueSine</key>
	<string>variantOffset</string>
	<key>similarHistogram</key>
	<string>priorSegue</string>
	<key>temporaryGradient</key>
	<string>displayRouter</string>
</dict>
</plist>
