<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatecube</key>
	<string>paddingPattern</string>
	<key>concreteTable</key>
	<string>recursionRight</string>
	<key>discardedSubpixel</key>
	<string>storeFeedback</string>
	<key>formatmatrix</key>
	<string>materialGesture</string>
	<key>switchForce</key>
	<string>canTransitionReference</string>
	<key>taskLeft</key>
	<string>captioninobserver</string>
</dict>
</plist>
