<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>positionwrapper</key>
	<string>specifySubscription</string>
	<key>shouldMountSine</key>
	<string>associatedAsync</string>
	<key>smallInterpolation</key>
	<string>cardLayer</string>
	<key>smartAppBar</key>
	<string>imagereliability</string>
	<key>storagetolerance</key>
	<string>sustainableHash</string>
</dict>
</plist>
