<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureTension</key>
	<string>metricsMomentum</string>
	<key>missedBinder</key>
	<string>pendingCustomPaint</string>
	<key>normalContainer</key>
	<string>densecompletersaturation</string>
	<key>objectDistance</key>
	<string>refreshTask</string>
	<key>shouldRebuildPrecision</key>
	<string>canProcessArithmetic</string>
</dict>
</plist>
