<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionCaption</key>
	<string>prismaticJoiner</string>
	<key>elasticCanvas</key>
	<string>similarconstraint</string>
	<key>pageviewSpacing</key>
	<string>crucialCatalyst</string>
	<key>playbackInterval</key>
	<string>mediummodel</string>
	<key>sequentialManager</key>
	<string>mediaTail</string>
	<key>shouldProcessCatalyst</key>
	<string>resizeService</string>
	<key>storeFeedback</key>
	<string>unaryForm</string>
	<key>subsequentspecifierstyle</key>
	<string>architectureOrientation</string>
</dict>
</plist>
