<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedLayout</key>
	<string>checkboxBorder</string>
	<key>interfacetransformer</key>
	<string>inkwellObserver</string>
	<key>rapidstackorigin</key>
	<string>holdpoint</string>
</dict>
</plist>
