<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cruderecttint</key>
	<string>fragmentMode</string>
	<key>declarativeGraph</key>
	<string>streamWorkflow</string>
	<key>diffableProvider</key>
	<string>validateTabBar</string>
	<key>overlayexceptkind</key>
	<string>canLayoutScreen</string>
	<key>shouldResumeObserver</key>
	<string>interpolateparticle</string>
	<key>soundType</key>
	<string>disabledSlider</string>
</dict>
</plist>
