<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchreducer</key>
	<string>alphaVariable</string>
	<key>detailmomentum</key>
	<string>channelsFeedback</string>
	<key>gestureMode</key>
	<string>shouldfinishprofile</string>
	<key>greatQueue</key>
	<string>uniqueresourcetag</string>
	<key>shouldHandlePoint</key>
	<string>intuitiveUtil</string>
	<key>staticdetail</key>
	<string>copyFuture</string>
	<key>sustainableTrajectory</key>
	<string>builderinactivity</string>
</dict>
</plist>
