<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleOption</key>
	<string>presenterbesidestructure</string>
	<key>bitrateOrientation</key>
	<string>yieldGestureDetector</string>
	<key>commonGradient</key>
	<string>storageDepth</string>
	<key>composableWidget</key>
	<string>shouldSaveCosine</string>
	<key>onspecifierchanged</key>
	<string>lazyStoryboard</string>
	<key>priorStream</key>
	<string>descriptorAction</string>
	<key>resilientMobile</key>
	<string>directlyOptimizer</string>
	<key>resourceamongwork</key>
	<string>canInflateTabView</string>
	<key>searcherShade</key>
	<string>connectRole</string>
	<key>shouldStopCosine</key>
	<string>signatureDepth</string>
</dict>
</plist>
