<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionwithoutsingleton</key>
	<string>resilienceSkewY</string>
	<key>crucialExpanded</key>
	<string>shouldResumeMobile</string>
	<key>interactiveContraction</key>
	<string>optimizeContainer</string>
	<key>prevSwift</key>
	<string>flexexceptphase</string>
	<key>reusablehashmode</key>
	<string>shouldReplaceWidget</string>
	<key>significantdescriptioninset</key>
	<string>serializeOption</string>
</dict>
</plist>
