<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderright</key>
	<string>canYieldController</string>
	<key>directlyslider</key>
	<string>histogramactionborder</string>
	<key>intermediateSearcher</key>
	<string>latencyOrigin</string>
	<key>logarithmSaturation</key>
	<string>concreteRow</string>
	<key>mainElasticity</key>
	<string>decodeNavigator</string>
	<key>polyfillTail</key>
	<string>curvemode</string>
	<key>reactivebaseshade</key>
	<string>pauseShader</string>
	<key>reduceramongtier</key>
	<string>seamlessCertificate</string>
	<key>shouldTransformAppBar</key>
	<string>directCoordinator</string>
	<key>sineappearance</key>
	<string>differentiateGraph</string>
</dict>
</plist>
