<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>functionalManager</key>
	<string>cycleBridge</string>
	<key>modelcompositetension</key>
	<string>shouldProcessStream</string>
	<key>prevnode</key>
	<string>keyTolerance</string>
	<key>shouldcanceloptimizer</key>
	<string>offsetDependency</string>
</dict>
</plist>
