<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousSink</key>
	<string>profileFormat</string>
	<key>crucialCreator</key>
	<string>flexibleChooser</string>
	<key>currentPopup</key>
	<string>loadCache</string>
	<key>distinctionVelocity</key>
	<string>canDecodeChecklist</string>
	<key>emitcache</key>
	<string>lostmodulusorientation</string>
	<key>gridviewcontrast</key>
	<string>validateRemainder</string>
	<key>normalStateless</key>
	<string>positionBridge</string>
	<key>shouldResumeBase</key>
	<string>usedInfrastructure</string>
	<key>sustainabledecoration</key>
	<string>ephemeralAmortization</string>
	<key>temporaryBox</key>
	<string>storerichtext</string>
</dict>
</plist>
