<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaHead</key>
	<string>typicalbuildersize</string>
	<key>decodeconfiguration</key>
	<string>particleFramework</string>
	<key>disabledRadio</key>
	<string>navigationaroundshape</string>
	<key>ephemeralInfrastructure</key>
	<string>euclideanResult</string>
	<key>euclideanDistinction</key>
	<string>sinemediatorshade</string>
	<key>explicitCallback</key>
	<string>robuststampacceleration</string>
	<key>globalpreviewforce</key>
	<string>momentumtween</string>
	<key>publicinterpolation</key>
	<string>shouldPushContainer</string>
	<key>reactiveLinker</key>
	<string>efficiencyState</string>
	<key>shouldTransformNavigator</key>
	<string>scaleposition</string>
</dict>
</plist>
