<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchormediatorduration</key>
	<string>canPaintSpecifier</string>
	<key>inactiveSwitch</key>
	<string>statefulDependency</string>
	<key>onnotifierchanged</key>
	<string>refactorLoop</string>
	<key>prevAction</key>
	<string>delegateRate</string>
	<key>radiusMomentum</key>
	<string>diffableMargin</string>
	<key>signatureHead</key>
	<string>deployRouter</string>
	<key>spriteTransparency</key>
	<string>beginnerEffect</string>
	<key>traindescription</key>
	<string>rectifyAnimation</string>
</dict>
</plist>
