<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedScaffold</key>
	<string>usecaseInterval</string>
	<key>comprehensivesession</key>
	<string>subpixelOffset</string>
	<key>defaultKernel</key>
	<string>saveObserver</string>
	<key>detachcompleter</key>
	<string>pushAperture</string>
	<key>elementvelocity</key>
	<string>compileBuffer</string>
	<key>reusableLayout</key>
	<string>projectionamongtier</string>
	<key>shouldRouteDescriptor</key>
	<string>contractionHead</string>
	<key>shouldSetStateDimension</key>
	<string>tweenbinder</string>
</dict>
</plist>
