<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousTangent</key>
	<string>crudeRemainder</string>
	<key>compositionalCustomPaint</key>
	<string>nodeMode</string>
	<key>concreteCharacteristic</key>
	<string>workflowstateleft</string>
	<key>nodeorenvironment</key>
	<string>transformExtension</string>
	<key>originalPresenter</key>
	<string>lastFinder</string>
	<key>subsequentMember</key>
	<string>statePrototype</string>
</dict>
</plist>
