<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureutil</key>
	<string>integerVelocity</string>
	<key>basicusecaseborder</key>
	<string>defaultbullet</string>
	<key>flexinfo</key>
	<string>particlebeyondprototype</string>
	<key>mutableImage</key>
	<string>particleTheme</string>
	<key>seamlessModule</key>
	<string>vectorname</string>
	<key>shouldDismissMatrix</key>
	<string>crudeItem</string>
	<key>shouldResumeMovement</key>
	<string>integerMethod</string>
	<key>subscriberSize</key>
	<string>roleVisitor</string>
	<key>substantialEvolution</key>
	<string>concurrentCycle</string>
	<key>tappableInteractor</key>
	<string>shouldEndBorder</string>
</dict>
</plist>
