<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardzone</key>
	<string>checkboxFrequency</string>
	<key>elasticTimer</key>
	<string>canLayoutDescriptor</string>
	<key>futureanalyzer</key>
	<string>reactivelistenercoord</string>
	<key>sensorOpacity</key>
	<string>appbarAction</string>
	<key>similarviewbrightness</key>
	<string>extendSubscription</string>
	<key>smallReduction</key>
	<string>updateAxis</string>
</dict>
</plist>
