<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deployzone</key>
	<string>specifyWrapper</string>
	<key>dialogsFormat</key>
	<string>previewCenter</string>
	<key>mobileSwitch</key>
	<string>logarithmRate</string>
</dict>
</plist>
