<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>marshalstore</key>
	<string>assetappearance</string>
	<key>materialDisclaimer</key>
	<string>compositionSize</string>
	<key>parallelTrigger</key>
	<string>marshalRoute</string>
	<key>scrollablestoryboard</key>
	<string>subtleSplitter</string>
	<key>staticoptionbrightness</key>
	<string>secondPromise</string>
</dict>
</plist>
