<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buildersorter</key>
	<string>multiplicationTint</string>
	<key>flexibleFinder</key>
	<string>decorationandproxy</string>
	<key>sharedPolyfill</key>
	<string>crucialSelector</string>
	<key>specifierPressure</key>
	<string>listeneffect</string>
	<key>statefulAppBar</key>
	<string>directGift</string>
	<key>workflowBottom</key>
	<string>canLayoutNavigator</string>
</dict>
</plist>
