<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveProject</key>
	<string>createtween</string>
	<key>consultativeCollection</key>
	<string>agileHash</string>
	<key>copyasync</key>
	<string>rectRight</string>
	<key>listenintensity</key>
	<string>histogramDistance</string>
	<key>logName</key>
	<string>textureDepth</string>
	<key>mitigatereduction</key>
	<string>canLoadCustomPaint</string>
	<key>providerOffset</key>
	<string>canEncodeAccessory</string>
	<key>shouldProcessObserver</key>
	<string>nextBinder</string>
	<key>tappableFuture</key>
	<string>staticRow</string>
</dict>
</plist>
