<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleStore</key>
	<string>encodelayout</string>
	<key>dynamicSizedBox</key>
	<string>disclaimerDirection</string>
	<key>isController</key>
	<string>formatSpacing</string>
	<key>optionFeedback</key>
	<string>numericalShape</string>
	<key>pushinstruction</key>
	<string>hyperbolicChooser</string>
	<key>shouldResumeChecklist</key>
	<string>measureLayer</string>
	<key>shouldUnmountCursor</key>
	<string>loopName</string>
	<key>stateperenvironment</key>
	<string>canHandleConvolution</string>
	<key>temporaryCompleter</key>
	<string>canRouteCaption</string>
</dict>
</plist>
