<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentrotation</key>
	<string>protectedRectangle</string>
	<key>axisLeft</key>
	<string>uniformAsset</string>
	<key>greatIsolate</key>
	<string>lazyBloc</string>
	<key>multiRect</key>
	<string>mapValidation</string>
	<key>rapidBullet</key>
	<string>sophisticatedFeature</string>
	<key>singleHeap</key>
	<string>gateTier</string>
	<key>specifyinterface</key>
	<string>composableBinary</string>
	<key>visibleTime</key>
	<string>activatedPolyfill</string>
	<key>zoneactionappearance</key>
	<string>oldconstraint</string>
</dict>
</plist>
