<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalLinker</key>
	<string>canRenderRow</string>
	<key>directlynavigation</key>
	<string>observePageView</string>
	<key>integertint</key>
	<string>segueHead</string>
	<key>multiSearcher</key>
	<string>canFetchMomentum</string>
	<key>protocolFlags</key>
	<string>minScaffold</string>
	<key>shouldpaintsensor</key>
	<string>lostLifecycle</string>
	<key>stepduration</key>
	<string>opaqueAllocator</string>
	<key>storemementostate</key>
	<string>observerTransparency</string>
	<key>tablebuffer</key>
	<string>taxonomyCenter</string>
	<key>tickerRotation</key>
	<string>entropyInteraction</string>
</dict>
</plist>
