<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletDirection</key>
	<string>schemaBound</string>
	<key>consultativeStroke</key>
	<string>storageOperation</string>
	<key>coordinatoroutsidememento</key>
	<string>unmountedAlpha</string>
	<key>decorationfromstyle</key>
	<string>respectiveSample</string>
	<key>multiNotifier</key>
	<string>playbackShade</string>
	<key>repositoryrect</key>
	<string>projectAction</string>
	<key>symmetricGate</key>
	<string>shouldSetStateCell</string>
</dict>
</plist>
