<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseScale</key>
	<string>cubitalongbridge</string>
	<key>capacitiesShape</key>
	<string>nextSelector</string>
	<key>concurrentArithmetic</key>
	<string>pointStrategy</string>
	<key>customizedRequest</key>
	<string>disconnectView</string>
	<key>lazyVector</key>
	<string>shouldFetchTouch</string>
	<key>materialactiontint</key>
	<string>locateChart</string>
	<key>progressbaruntilform</key>
	<string>navigationRate</string>
	<key>shouldDecodeObserver</key>
	<string>subpixeltemplecount</string>
	<key>stepremediation</key>
	<string>layoutanimatedcontainer</string>
	<key>storyboardTransparency</key>
	<string>canListenExpanded</string>
</dict>
</plist>
