<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseStatus</key>
	<string>boxLayer</string>
	<key>fixedSubscriber</key>
	<string>makeTicker</string>
	<key>presenterBound</key>
	<string>modulusfunctionfrequency</string>
	<key>seamlessChooser</key>
	<string>canDeserializeAspectRatio</string>
	<key>transformerframeworkstatus</key>
	<string>kernelParameter</string>
	<key>transitionanimation</key>
	<string>opaqueQueue</string>
</dict>
</plist>
