<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultcontrollername</key>
	<string>canPopHistogram</string>
	<key>handleresolver</key>
	<string>replaceMatrix</string>
	<key>seekview</key>
	<string>imperativeVolume</string>
	<key>singletoninterpreterbrightness</key>
	<string>euclideancontainerskewy</string>
	<key>usecaseRotation</key>
	<string>commonShape</string>
	<key>webUtil</key>
	<string>upgradeMethod</string>
</dict>
</plist>
