<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasSize</key>
	<string>compositionalMusic</string>
	<key>denseConstraint</key>
	<string>hardMomentum</string>
	<key>directlychart</key>
	<string>formatFlex</string>
	<key>fusedPager</key>
	<string>unactivatedSwift</string>
	<key>nativeCapacity</key>
	<string>callbackContext</string>
	<key>parsemargin</key>
	<string>protectedloopspeed</string>
	<key>shouldPushLoss</key>
	<string>commoncompleterscale</string>
	<key>skipreduction</key>
	<string>shouldDisposeTabBar</string>
	<key>standaloneDescent</key>
	<string>consumePreview</string>
</dict>
</plist>
