<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedProtocol</key>
	<string>hardAspectRatio</string>
	<key>axisRotation</key>
	<string>encodeSizedBox</string>
	<key>cartesianLifecycle</key>
	<string>pickerPosition</string>
	<key>consultativeTransition</key>
	<string>cancelView</string>
	<key>draggableGrain</key>
	<string>intuitivePlate</string>
	<key>permanentManager</key>
	<string>variantPhase</string>
	<key>permutationName</key>
	<string>cubelikescope</string>
	<key>pivotalChapter</key>
	<string>efficiencyHue</string>
	<key>stepSpacing</key>
	<string>skipCache</string>
	<key>visualizepreview</key>
	<string>petResponse</string>
</dict>
</plist>
