<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileCustomPaint</key>
	<string>canDisposeMomentum</string>
	<key>batchOrigin</key>
	<string>subtleCapacities</string>
	<key>boxshadowForce</key>
	<string>responsivetechniqueflags</string>
	<key>cupertinoTransformer</key>
	<string>spritestate</string>
	<key>fusedTabBar</key>
	<string>decoupleSlider</string>
	<key>otherCatalyst</key>
	<string>mediumPolygon</string>
	<key>shouldFormatMargin</key>
	<string>replicateStream</string>
	<key>substantialIntegrity</key>
	<string>canStopPrecision</string>
	<key>unmountedhero</key>
	<string>selectedmodulus</string>
</dict>
</plist>
