<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeTolerance</key>
	<string>mediaqueryaroundcontext</string>
	<key>diversifiedQuaternion</key>
	<string>precisionOpacity</string>
	<key>durationwithoutenvironment</key>
	<string>tweakBorder</string>
	<key>futureawayprocess</key>
	<string>rectProcess</string>
	<key>nativeSingleton</key>
	<string>customizedScope</string>
	<key>objectScale</key>
	<string>canPushHero</string>
	<key>optionoperationedge</key>
	<string>listenAsync</string>
	<key>sampleHead</key>
	<string>capsuleAlignment</string>
	<key>variantOrientation</key>
	<string>deferredCard</string>
</dict>
</plist>
