<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableImpression</key>
	<string>responsiveUtil</string>
	<key>shouldDispatchDecoration</key>
	<string>unmountedTabBar</string>
	<key>similarProjection</key>
	<string>evaluateEvent</string>
</dict>
</plist>
