<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detectorStatus</key>
	<string>deprecateChapter</string>
	<key>prismaticDrawer</key>
	<string>statelessObject</string>
	<key>shouldDecodeBloc</key>
	<string>shouldUnbindMomentum</string>
	<key>shouldDecodeNib</key>
	<string>tickerProcess</string>
</dict>
</plist>
