<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatorMode</key>
	<string>finishcontraction</string>
	<key>concreteChooser</key>
	<string>enhanceTitle</string>
	<key>flexiblecompleterstatus</key>
	<string>celltransformer</string>
	<key>hierarchicalduration</key>
	<string>deliveryStyle</string>
	<key>isolatemementostate</key>
	<string>restartMultiplication</string>
	<key>managerduringform</key>
	<string>persistPainter</string>
	<key>shouldAttachLoss</key>
	<string>axismethodskewx</string>
	<key>utilTint</key>
	<string>finishSignature</string>
</dict>
</plist>
