<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeResource</key>
	<string>dispatchDropdownButton</string>
	<key>delicateMechanism</key>
	<string>setstateBorder</string>
	<key>gestureOpacity</key>
	<string>originalQueue</string>
	<key>immediateScaffold</key>
	<string>adaptiveKernel</string>
	<key>pausescaffold</key>
	<string>sustainableLoader</string>
	<key>shouldMountTangent</key>
	<string>navigatordecoratorshade</string>
</dict>
</plist>
