<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shouldPersistBehavior</key>
	<string>shouldPublishBatch</string>
	<key>singlemechanism</key>
	<string>onpetchanged</string>
	<key>statelessLayout</key>
	<string>canStartGrayscale</string>
	<key>uniformWrapper</key>
	<string>shouldNavigateMomentum</string>
</dict>
</plist>
