<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canceltask</key>
	<string>permanentNotification</string>
	<key>consultativeResult</key>
	<string>formatMultiplication</string>
	<key>reactiveRepository</key>
	<string>updateTitle</string>
	<key>resolverbound</key>
	<string>shouldStreamSkin</string>
	<key>resourceBehavior</key>
	<string>declarativeRepository</string>
	<key>smartTaxonomy</key>
	<string>occasionType</string>
	<key>synchronousTimer</key>
	<string>intensityhue</string>
</dict>
</plist>
