<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticusecase</key>
	<string>canInflateBehavior</string>
	<key>asynctemplevisibility</key>
	<string>resizeText</string>
	<key>cosineTheme</key>
	<string>statelessserviceappearance</string>
	<key>dedicatedArithmetic</key>
	<string>concurrentCanvas</string>
	<key>independentButton</key>
	<string>flexibleSkirt</string>
	<key>labelalignment</key>
	<string>logarithmSaturation</string>
	<key>performsensor</key>
	<string>mutableeffecttail</string>
	<key>seamlessText</key>
	<string>seamlessSearcher</string>
	<key>shouldDisposeExponent</key>
	<string>preparePageView</string>
	<key>staticProcessor</key>
	<string>publicUsage</string>
</dict>
</plist>
