<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertexcepttask</key>
	<string>constraintSkewY</string>
	<key>animatestorage</key>
	<string>spinParticle</string>
	<key>durationsize</key>
	<string>associatedElement</string>
	<key>featureamongvalue</key>
	<string>thresholdAppearance</string>
	<key>flexiblenotifierhue</key>
	<string>searcherPosition</string>
	<key>hyperbolicMaster</key>
	<string>presenterscopeorientation</string>
	<key>materialTrigger</key>
	<string>loadoffset</string>
	<key>rowkind</key>
	<string>singletonmode</string>
	<key>trainbatch</key>
	<string>menuForce</string>
</dict>
</plist>
