<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsRate</key>
	<string>augmentRequest</string>
	<key>musicTint</key>
	<string>temporaryFlex</string>
	<key>robustslidertag</key>
	<string>asyncInset</string>
	<key>temporaryBandwidth</key>
	<string>scaffoldmomentum</string>
</dict>
</plist>
