<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>confidentialityBottom</key>
	<string>intensityright</string>
	<key>publicText</key>
	<string>canStreamCaption</string>
	<key>retainedOperation</key>
	<string>publicCreator</string>
	<key>shouldUpdateGradient</key>
	<string>newestTransformer</string>
	<key>smartTechnique</key>
	<string>richtextmethod</string>
	<key>sustainableQuaternion</key>
	<string>behaviorTension</string>
</dict>
</plist>
