<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectCenter</key>
	<string>topicformat</string>
	<key>consultativeSpot</key>
	<string>controllerFramework</string>
	<key>isTangent</key>
	<string>normParameter</string>
	<key>lifecycleTag</key>
	<string>tweenContrast</string>
	<key>onswitchtap</key>
	<string>poolReducer</string>
	<key>otherRectangle</key>
	<string>listviewOffset</string>
	<key>shouldpushbullet</key>
	<string>equalWidget</string>
	<key>sortedframeshade</key>
	<string>maintainAnimation</string>
	<key>standaloneDelegate</key>
	<string>injectionVisible</string>
	<key>synchronousinteractor</key>
	<string>responsiveMethod</string>
</dict>
</plist>
