<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decodeaxis</key>
	<string>resumeContainer</string>
	<key>lostConsumer</key>
	<string>canUpdateButton</string>
	<key>nextSine</key>
	<string>sessionMediator</string>
	<key>occasionOffset</key>
	<string>agileSensor</string>
	<key>sizeDuration</key>
	<string>paddingCenter</string>
</dict>
</plist>
