<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateskewy</key>
	<string>encodeAlignment</string>
	<key>diffableloopskewx</key>
	<string>backwardCubit</string>
	<key>freetool</key>
	<string>scalePadding</string>
	<key>gridviewRotation</key>
	<string>soundTension</string>
	<key>robustProvision</key>
	<string>criticalReceiver</string>
</dict>
</plist>
