<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxpressure</key>
	<string>shouldCacheNavigator</string>
	<key>equipmentoffset</key>
	<string>otherReceiver</string>
	<key>referenceDepth</key>
	<string>canBindConsumer</string>
	<key>synchronousScroll</key>
	<string>ephemeralLoss</string>
</dict>
</plist>
