<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationflyweightbehavior</key>
	<string>intensitydespitesystem</string>
	<key>nodeexceptfacade</key>
	<string>shouldSubscribeResource</string>
	<key>notifyparticle</key>
	<string>dispatchCell</string>
	<key>smartEffect</key>
	<string>completionOrientation</string>
	<key>unsortedColumn</key>
	<string>canProcessAperture</string>
</dict>
</plist>
