<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customCreator</key>
	<string>shouldbindslash</string>
	<key>denseconstraint</key>
	<string>shouldDecodeSignature</string>
	<key>directPublisher</key>
	<string>keepoverlay</string>
	<key>entropyColor</key>
	<string>emitSwift</string>
	<key>finderRotation</key>
	<string>serializebuffer</string>
	<key>gemscopetransparency</key>
	<string>actionRight</string>
	<key>independentDescent</key>
	<string>entityTemple</string>
	<key>liteCubit</key>
	<string>activatedtransition</string>
	<key>providerSpeed</key>
	<string>fusedPermutation</string>
	<key>shouldBuildGridView</key>
	<string>annotateLayer</string>
</dict>
</plist>
