<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticversusvisitor</key>
	<string>nodesubscriber</string>
	<key>buttonscale</key>
	<string>compileFrame</string>
	<key>nativeChart</key>
	<string>hasinteger</string>
	<key>nodeparameterduration</key>
	<string>canDisconnectBitrate</string>
	<key>shouldDisposeTechnique</key>
	<string>shouldRestartListView</string>
	<key>standalonespriteskewx</key>
	<string>prepareRadio</string>
</dict>
</plist>
