<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convolutionScale</key>
	<string>elasticnavigationdirection</string>
	<key>granularEquivalent</key>
	<string>makeCubit</string>
	<key>modelOrigin</key>
	<string>serializeInterface</string>
	<key>oldEvaluation</key>
	<string>shouldStreamBoxShadow</string>
	<key>presentchallenge</key>
	<string>serializeCupertino</string>
	<key>rowColor</key>
	<string>substantiallayoutresponse</string>
	<key>slashPosition</key>
	<string>shoulddisposereduction</string>
</dict>
</plist>
