<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocSpacing</key>
	<string>triggerName</string>
	<key>inheritedTime</key>
	<string>allocateInteractor</string>
	<key>responsivechanneltransparency</key>
	<string>canMountedMember</string>
</dict>
</plist>
