<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedMusic</key>
	<string>sceneName</string>
	<key>difficultStream</key>
	<string>particleAdapter</string>
	<key>elasticfragment</key>
	<string>canSubscribeTool</string>
	<key>menubufferbottom</key>
	<string>nativeSink</string>
	<key>smallmethodspeed</key>
	<string>standaloneInkWell</string>
	<key>subtleMechanism</key>
	<string>significantProcessor</string>
</dict>
</plist>
