<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistBottom</key>
	<string>temporaryEqualization</string>
	<key>geometricListener</key>
	<string>ignoredPet</string>
	<key>layerAlignment</key>
	<string>notifyFactory</string>
	<key>mergerOrigin</key>
	<string>keyRenderer</string>
</dict>
</plist>
