<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>granularcubebound</key>
	<string>interactivepresenter</string>
	<key>loopofprototype</key>
	<string>canProcessWidget</string>
	<key>multiActivity</key>
	<string>firstArithmetic</string>
	<key>shouldRebuildGrayscale</key>
	<string>pivotalrow</string>
	<key>stoptransition</key>
	<string>replacesize</string>
</dict>
</plist>
