<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedTimer</key>
	<string>canListenReference</string>
	<key>oldReliability</key>
	<string>shouldsaveoption</string>
	<key>shouldLayoutRadio</key>
	<string>deferredreducer</string>
</dict>
</plist>
