<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackSpeed</key>
	<string>cacheProvider</string>
	<key>composableMultiplication</key>
	<string>currentAccessory</string>
	<key>expandedLeft</key>
	<string>publicRepository</string>
	<key>immediateentitytheme</key>
	<string>shouldObserveGate</string>
	<key>independentPrecision</key>
	<string>navigationSpacing</string>
	<key>lostBaseline</key>
	<string>specifyMetrics</string>
	<key>projectspacing</key>
	<string>canEndExtension</string>
	<key>servicerate</key>
	<string>canStreamCycle</string>
	<key>shouldTransformTool</key>
	<string>refactorConstraint</string>
	<key>viewinsideplatform</key>
	<string>computeAllocator</string>
</dict>
</plist>
