<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedlabelbottom</key>
	<string>confidentialityTop</string>
	<key>enabledEquipment</key>
	<string>geometriclinker</string>
	<key>remainderbesidestructure</key>
	<string>layoutSwitch</string>
	<key>semanticcompleterstatus</key>
	<string>skinSaturation</string>
	<key>stackOrigin</key>
	<string>grainmargin</string>
	<key>synchronousBox</key>
	<string>isolateorientation</string>
	<key>trianglesName</key>
	<string>retainedtimeline</string>
	<key>variantformstate</key>
	<string>conformAsset</string>
</dict>
</plist>
