<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeDuration</key>
	<string>tentativeSkewY</string>
	<key>dynamicMember</key>
	<string>shouldmountsubpixel</string>
	<key>impressionTint</key>
	<string>tensorOption</string>
	<key>intermediateNorm</key>
	<string>delegateskewx</string>
	<key>methodstate</key>
	<string>reusableConsumer</string>
	<key>protocolResponse</key>
	<string>resultBehavior</string>
	<key>routerCenter</key>
	<string>smallMission</string>
	<key>shouldTrainEqualization</key>
	<string>limitAnimation</string>
</dict>
</plist>
