<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>joinerOpacity</key>
	<string>shouldfetchfuture</string>
	<key>remediationPressure</key>
	<string>canFetchProject</string>
	<key>shouldPublishNib</key>
	<string>touchDecoration</string>
	<key>statelessContraction</key>
	<string>cartesiannibinterval</string>
	<key>textfieldRate</key>
	<string>buttondelay</string>
</dict>
</plist>
