<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystviaparam</key>
	<string>permanentEntity</string>
	<key>fillchapter</key>
	<string>ignoredFragments</string>
	<key>firstDialogs</key>
	<string>cartesianMomentum</string>
	<key>nibshapestyle</key>
	<string>shouldObserveCube</string>
	<key>shouldSerializeSignature</key>
	<string>trajectoryleft</string>
	<key>similarMend</key>
	<string>secondVector</string>
</dict>
</plist>
