<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeTail</key>
	<string>lastJoiner</string>
	<key>deferredRestriction</key>
	<string>canStreamInteger</string>
	<key>fixedColumn</key>
	<string>enumerateoptimizer</string>
	<key>heapwithoutaction</key>
	<string>canUnbindSensor</string>
	<key>mediocreBaseline</key>
	<string>shouldNotifySymbol</string>
	<key>richtextAlignment</key>
	<string>basefunctioncoord</string>
	<key>savedecoration</key>
	<string>wrapperType</string>
	<key>shouldkeepoperation</key>
	<string>metadataparamfrequency</string>
	<key>tappableStorage</key>
	<string>composableCombiner</string>
	<key>unsortedCatalyst</key>
	<string>soundFrequency</string>
</dict>
</plist>
