<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>integerOrigin</key>
	<string>uniqueRenderer</string>
	<key>pinchablescrollcount</key>
	<string>provideTexture</string>
	<key>shouldValidateReference</key>
	<string>implementConstraint</string>
</dict>
</plist>
