<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterTail</key>
	<string>finishStoryboard</string>
	<key>columnagainstframework</key>
	<string>canPaintMission</string>
	<key>elasticPositioned</key>
	<string>respondOffset</string>
	<key>gestureinterval</key>
	<string>hierarchicalResolver</string>
	<key>mediaqueryStatus</key>
	<string>missionvisitortop</string>
	<key>webModel</key>
	<string>persistentTernary</string>
</dict>
</plist>
