<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerSearcher</key>
	<string>materializeResource</string>
	<key>parallelMission</key>
	<string>persistentCupertino</string>
	<key>rapidWidget</key>
	<string>canDisconnectAspect</string>
	<key>taskopacity</key>
	<string>significantCube</string>
</dict>
</plist>
