<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gemSize</key>
	<string>responsiveResolver</string>
	<key>invisibleMember</key>
	<string>hardGestureDetector</string>
	<key>labelBottom</key>
	<string>emitArithmetic</string>
	<key>persistentTolerance</key>
	<string>subtleconsumer</string>
	<key>shouldShowChecklist</key>
	<string>invokeLocalization</string>
</dict>
</plist>
