<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasDuration</key>
	<string>transitionUsage</string>
	<key>captionScale</key>
	<string>timePosition</string>
	<key>denseCollection</key>
	<string>canEndWidget</string>
	<key>flexibleHeap</key>
	<string>mediocrePlate</string>
	<key>mobilemetadata</key>
	<string>curvefromlayer</string>
	<key>reactiveExpanded</key>
	<string>significantAlpha</string>
	<key>shouldInflateCapacities</key>
	<string>subscriptionSize</string>
	<key>streamlinelogarithm</key>
	<string>inactivePreview</string>
</dict>
</plist>
