<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonhead</key>
	<string>integerPrototype</string>
	<key>displayablestatefulcoord</key>
	<string>asynchronousAudio</string>
	<key>enabledMaster</key>
	<string>navigationgroup</string>
	<key>notifybaseline</key>
	<string>elasticVolume</string>
	<key>painterStatus</key>
	<string>canUnmountedTangent</string>
	<key>selectedCursor</key>
	<string>polyfillSkewY</string>
	<key>setstatemenu</key>
	<string>bindRow</string>
	<key>specifySine</key>
	<string>signasset</string>
</dict>
</plist>
