<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticPet</key>
	<string>draggableCupertino</string>
	<key>globalMerger</key>
	<string>configurationDepth</string>
	<key>hyperbolicNorm</key>
	<string>cartesianGift</string>
	<key>particleLeft</key>
	<string>shouldPersistBehavior</string>
	<key>remainderstatetheme</key>
	<string>shouldUnmountNotifier</string>
	<key>soundResponse</key>
	<string>detachtext</string>
	<key>storyboardBound</key>
	<string>shouldContinueStream</string>
	<key>streamvisibility</key>
	<string>canRouteContainer</string>
</dict>
</plist>
