<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveSession</key>
	<string>cupertinobaselinedistance</string>
	<key>arithmeticoutsideadapter</key>
	<string>dropouttexture</string>
	<key>coordinatorstructuretheme</key>
	<string>optionNumber</string>
	<key>customizedAlert</key>
	<string>parallelTween</string>
	<key>directlyFormat</key>
	<string>gateWork</string>
	<key>euclideanTime</key>
	<string>shouldSkipMatrix</string>
	<key>fixedThreshold</key>
	<string>saveSign</string>
	<key>popupSkewX</key>
	<string>resilientGraphic</string>
	<key>primaryColumn</key>
	<string>borderDelay</string>
	<key>sophisticatedstoredirection</key>
	<string>statelessMediaQuery</string>
</dict>
</plist>
