<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activePoint</key>
	<string>integrityshape</string>
	<key>coordinatormaterial</key>
	<string>taxonomyPadding</string>
	<key>difficultThroughput</key>
	<string>allocateAlignment</string>
	<key>hyperbolicSound</key>
	<string>semanticTicker</string>
	<key>kernelobserver</key>
	<string>declarativeInstruction</string>
	<key>pinchableConvolution</key>
	<string>inheritedListView</string>
	<key>primaryConnector</key>
	<string>typicalFrame</string>
	<key>tentativeDepth</key>
	<string>unscheduleAsset</string>
	<key>uniformIcon</key>
	<string>singleVolume</string>
</dict>
</plist>
