<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>evolutionDensity</key>
	<string>shouldSaveKernel</string>
	<key>herometadata</key>
	<string>makeposition</string>
	<key>iterativeManager</key>
	<string>activatedInformation</string>
	<key>mobilePressure</key>
	<string>largeTexture</string>
	<key>resizablecard</key>
	<string>shouldobservematerial</string>
	<key>resolvertempleappearance</key>
	<string>dialogsFlyweight</string>
	<key>shouldcachecard</key>
	<string>canTrainModulus</string>
	<key>unarySkewX</key>
	<string>crucialSpot</string>
</dict>
</plist>
