<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionFinder</key>
	<string>actionColor</string>
	<key>autoPolygon</key>
	<string>originalCanvas</string>
	<key>equipmentStatus</key>
	<string>attachExponent</string>
	<key>mediaqueryInteraction</key>
	<string>cosineresilience</string>
	<key>permissiveConsumption</key>
	<string>loopduration</string>
	<key>resilienceStyle</key>
	<string>directlyEntropy</string>
	<key>singletonstyle</key>
	<string>shouldShowAnchor</string>
	<key>specifyeventformat</key>
	<string>shaderDistance</string>
	<key>tabviewinterval</key>
	<string>shouldReplaceTangent</string>
	<key>transitionVelocity</key>
	<string>canCacheCycle</string>
</dict>
</plist>
