<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedView</key>
	<string>stateSkewY</string>
	<key>alignmentCenter</key>
	<string>functionalJoiner</string>
	<key>chartlevelbottom</key>
	<string>maxDimension</string>
	<key>dedicatedImage</key>
	<string>mediocreGift</string>
	<key>monsterimage</key>
	<string>canRebuildMultiplication</string>
	<key>shouldPublishIndicator</key>
	<string>accessoryTemple</string>
</dict>
</plist>
