<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileThreshold</key>
	<string>yieldScroll</string>
	<key>crucialTentative</key>
	<string>aggregatePreview</string>
	<key>disparateMonster</key>
	<string>publicUtil</string>
	<key>logassystem</key>
	<string>resourceCount</string>
	<key>storeboxshadow</key>
	<string>drawMenu</string>
</dict>
</plist>
