<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bandwidthStatus</key>
	<string>canLayoutBatch</string>
	<key>capacitypadding</key>
	<string>canCancelCupertino</string>
	<key>dedicatedasset</key>
	<string>othercompletioncontrast</string>
	<key>delegateplayback</key>
	<string>visualizeObserver</string>
	<key>memberSpeed</key>
	<string>profileOperation</string>
	<key>otherviewedge</key>
	<string>alignmentMediator</string>
	<key>shouldListenRole</key>
	<string>geometricRemediation</string>
	<key>specifyStorage</key>
	<string>persistGraphic</string>
</dict>
</plist>
