<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionCosine</key>
	<string>completionLocation</string>
	<key>boxshadowPosition</key>
	<string>canEndNotifier</string>
	<key>cupertinoaspectratio</key>
	<string>mechanismStatus</string>
	<key>decorationaroundlayer</key>
	<string>subtlePicker</string>
	<key>diversifiedEntity</key>
	<string>intermediateRect</string>
	<key>lossShade</key>
	<string>resourceRotation</string>
	<key>selectedclipper</key>
	<string>conformHash</string>
	<key>shouldLoadMap</key>
	<string>robustRemediation</string>
	<key>tangentOrigin</key>
	<string>responseNumber</string>
</dict>
</plist>
