<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultPet</key>
	<string>inactivePolygon</string>
	<key>euclideanCreator</key>
	<string>nativeStroke</string>
	<key>flexibleTitle</key>
	<string>canPushTable</string>
	<key>robustScope</key>
	<string>canTrainTabBar</string>
	<key>switchContrast</key>
	<string>updateCache</string>
</dict>
</plist>
