<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionTime</key>
	<string>rebuildconfiguration</string>
	<key>captionSaturation</key>
	<string>canListenAnimatedContainer</string>
	<key>otherNode</key>
	<string>typicalConnector</string>
	<key>petinterval</key>
	<string>signatureleft</string>
	<key>scrollablePromise</key>
	<string>shouldDecodePoint</string>
</dict>
</plist>
