<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousSine</key>
	<string>vectormargin</string>
	<key>configurationalongprocess</key>
	<string>canTrainMomentum</string>
	<key>singlePromise</key>
	<string>observerprovision</string>
</dict>
</plist>
