<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analogyOrigin</key>
	<string>pendingSubpixel</string>
	<key>animatedLifecycle</key>
	<string>replicateService</string>
	<key>fusedTimer</key>
	<string>canRebuildRow</string>
	<key>lostEffect</key>
	<string>discardedLoss</string>
	<key>releasebox</key>
	<string>aspectstatus</string>
	<key>retainedChapter</key>
	<string>canHandleSegue</string>
	<key>usedAspect</key>
	<string>shouldPauseAnimation</string>
</dict>
</plist>
