<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerCheckbox</key>
	<string>prioritythroughput</string>
	<key>durationSpeed</key>
	<string>disabledTween</string>
	<key>trajectoryInteraction</key>
	<string>cubitinmediator</string>
</dict>
</plist>
