<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedmodulus</key>
	<string>handlertension</string>
	<key>concurrentCaption</key>
	<string>directlyNavigator</string>
	<key>directlyArchitecture</key>
	<string>canUpdateIndicator</string>
	<key>disparateConsumption</key>
	<string>shouldNavigateAperture</string>
	<key>secondStateful</key>
	<string>publicResult</string>
	<key>shouldEncodeInterpolation</key>
	<string>layoutChain</string>
</dict>
</plist>
