<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binderfeedback</key>
	<string>deactivateFactory</string>
	<key>errortentative</key>
	<string>customFragment</string>
	<key>iconcompositemomentum</key>
	<string>discardedConverter</string>
	<key>infrastructuretype</key>
	<string>refactorGraph</string>
	<key>keyPlate</key>
	<string>implementLayout</string>
	<key>resizableSpot</key>
	<string>checkboxcompositeacceleration</string>
	<key>shouldSkipRichText</key>
	<string>canTransformTheme</string>
	<key>synchronousconsumer</key>
	<string>concurrentStep</string>
	<key>vectorMomentum</key>
	<string>petwithoutframework</string>
</dict>
</plist>
