<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardVertex</key>
	<string>responderDirection</string>
	<key>capacitiesAcceleration</key>
	<string>intermediateSample</string>
	<key>descriptorrect</key>
	<string>materialAperture</string>
	<key>dismissobserver</key>
	<string>roledescription</string>
	<key>granularMargin</key>
	<string>shouldDecodeSubpixel</string>
	<key>parallelRoute</key>
	<string>activatedPoint</string>
	<key>priorityColor</key>
	<string>prismaticConnector</string>
	<key>scenebeyondchain</key>
	<string>brushInterpreter</string>
	<key>stackTheme</key>
	<string>localRow</string>
	<key>webIsolate</key>
	<string>checkboxflyweightmargin</string>
</dict>
</plist>
