<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>explicitScope</key>
	<string>pinchableJoiner</string>
	<key>loadpreview</key>
	<string>popupFunction</string>
	<key>shouldEmitBoxShadow</key>
	<string>mutableResult</string>
	<key>significantCharacteristic</key>
	<string>toolrate</string>
	<key>standaloneEntity</key>
	<string>descriptorState</string>
</dict>
</plist>
