<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>immediateDistinction</key>
	<string>retainednotation</string>
	<key>keyLoader</key>
	<string>formatStack</string>
	<key>resourceHue</key>
	<string>restorestate</string>
	<key>scopeBrightness</key>
	<string>stepTop</string>
	<key>significantobserverbound</key>
	<string>bufferformat</string>
</dict>
</plist>
