<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystTension</key>
	<string>comprehensiveCursor</string>
	<key>consultativeConstant</key>
	<string>usagegroup</string>
	<key>layoutfornumber</key>
	<string>sampleEnvironment</string>
	<key>listenervalueflags</key>
	<string>notifyIndicator</string>
	<key>shouldpersistanimation</key>
	<string>canLoadAspectRatio</string>
	<key>shouldunbindchecklist</key>
	<string>consumptionStatus</string>
	<key>tweakCenter</key>
	<string>moveNavigator</string>
</dict>
</plist>
