<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronouscontrollertension</key>
	<string>skirtreliability</string>
	<key>comprehensiveDelivery</key>
	<string>observeEquipment</string>
	<key>containerrectangle</key>
	<string>materialscenario</string>
	<key>gesturerepository</key>
	<string>invokeTexture</string>
	<key>missedfeaturemomentum</key>
	<string>configurationInset</string>
	<key>monsterSpacing</key>
	<string>actionLayer</string>
	<key>savetexture</key>
	<string>exponentleft</string>
	<key>streamboxshadow</key>
	<string>evolutionCoord</string>
	<key>sustainableColumn</key>
	<string>cacheGesture</string>
</dict>
</plist>
