<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeRecursion</key>
	<string>hyperbolicProcessor</string>
	<key>binaryIndex</key>
	<string>opaqueSingleton</string>
	<key>clipperTail</key>
	<string>replicateBloc</string>
	<key>independentpreview</key>
	<string>relationalCycle</string>
	<key>remediationShape</key>
	<string>discardedNavigator</string>
	<key>techniqueCenter</key>
	<string>addrepository</string>
	<key>uniformIsolate</key>
	<string>evaluationOpacity</string>
	<key>uniqueGem</key>
	<string>tabbarparameteralignment</string>
	<key>unmountedstorage</key>
	<string>sessionLocation</string>
</dict>
</plist>
