<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnernavigatorcontrast</key>
	<string>transpileProvider</string>
	<key>composableTentative</key>
	<string>replaceNorm</string>
	<key>deferredProgressBar</key>
	<string>synchronizeAlignment</string>
	<key>interactiveconvolution</key>
	<string>navigatorstatesaturation</string>
	<key>painterHead</key>
	<string>usecaseamortization</string>
	<key>permissiveSelector</key>
	<string>textrect</string>
	<key>shouldRestartBloc</key>
	<string>disposeOverlay</string>
	<key>symmetricPrecision</key>
	<string>reflectRect</string>
</dict>
</plist>
