<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletoutsidefunction</key>
	<string>comprehensiveHash</string>
	<key>currentObject</key>
	<string>layoutCapsule</string>
	<key>liteMechanism</key>
	<string>interfaceStructure</string>
	<key>persistentcontainerstatus</key>
	<string>clusterForce</string>
	<key>progressbarDirection</key>
	<string>metricsShade</string>
	<key>responderFrequency</key>
	<string>resilientslider</string>
	<key>shouldFetchAlpha</key>
	<string>canPersistGift</string>
	<key>shouldbindanimation</key>
	<string>composablejoiner</string>
</dict>
</plist>
