<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chooserVisible</key>
	<string>setupSingleton</string>
	<key>completerCount</key>
	<string>diversifiedChecklist</string>
	<key>entityLeft</key>
	<string>hyperboliccubit</string>
	<key>framemementoorientation</key>
	<string>sustainableRange</string>
	<key>remainderRight</key>
	<string>serializeMethod</string>
	<key>shouldStopNorm</key>
	<string>poolState</string>
	<key>uniformAsync</key>
	<string>canRebuildSwitch</string>
	<key>uniqueSwift</key>
	<string>reductionLevel</string>
</dict>
</plist>
