<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeSegment</key>
	<string>unmountedContainer</string>
	<key>animatedRadio</key>
	<string>parseRow</string>
	<key>imperativeLayout</key>
	<string>visiblePromise</string>
	<key>mediumMend</key>
	<string>swiftfragments</string>
	<key>respectiveSubscriber</key>
	<string>providerstyle</string>
	<key>shaderviaactivity</key>
	<string>pushLabel</string>
	<key>storecenter</key>
	<string>eagerInteger</string>
	<key>streamcoordinator</key>
	<string>synchronizeListener</string>
</dict>
</plist>
