<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>multilatency</key>
	<string>allocatorValue</string>
	<key>optimizerspeed</key>
	<string>renameAwait</string>
	<key>shouldCacheTabBar</key>
	<string>skipTransition</string>
</dict>
</plist>
