<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderflyweighttint</key>
	<string>associateScene</string>
	<key>channelsthroughbuffer</key>
	<string>labelProcess</string>
	<key>isolateBrightness</key>
	<string>overlayShape</string>
	<key>moduleSkewY</key>
	<string>operationwithmediator</string>
	<key>numericalListener</key>
	<string>showUtil</string>
</dict>
</plist>
