<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>formatHead</key>
	<string>skipcubit</string>
	<key>giftInset</key>
	<string>oldstatefulstatus</string>
	<key>iterativeRadius</key>
	<string>responsiveTouch</string>
	<key>offsetmap</key>
	<string>missedconfiguration</string>
	<key>protectedMetrics</key>
	<string>prismaticPlate</string>
	<key>subscribequeue</key>
	<string>robustentropyhue</string>
</dict>
</plist>
