<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedCupertino</key>
	<string>clusterhue</string>
	<key>eraselabel</key>
	<string>oldStream</string>
	<key>gradientSpeed</key>
	<string>makeResource</string>
	<key>largeMomentum</key>
	<string>heroRotation</string>
	<key>nativeContainer</key>
	<string>autocontractiontag</string>
	<key>newestInfrastructure</key>
	<string>unmountDialogs</string>
	<key>opaqueStateful</key>
	<string>diffableFormat</string>
</dict>
</plist>
