<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agilePermutation</key>
	<string>ongemchanged</string>
	<key>monsterslider</key>
	<string>parallelCapacities</string>
	<key>newestGrayscale</key>
	<string>mediaMomentum</string>
	<key>rectCoord</key>
	<string>crudeSplitter</string>
	<key>scrollerRight</key>
	<string>singlestatus</string>
	<key>semanticCapacity</key>
	<string>descriptorBrightness</string>
	<key>transitionchannel</key>
	<string>canBindBorder</string>
</dict>
</plist>
