<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticTimer</key>
	<string>canShowBorder</string>
	<key>canvasmodel</key>
	<string>screenActivity</string>
	<key>localFactory</key>
	<string>decorationformmode</string>
	<key>signCenter</key>
	<string>methodworkindex</string>
	<key>tappableLatency</key>
	<string>sharedConfidentiality</string>
</dict>
</plist>
