<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferShape</key>
	<string>uniqueCharacteristic</string>
	<key>channelstriangles</key>
	<string>emitUsage</string>
	<key>crudeCompletion</key>
	<string>shouldReplaceProjection</string>
	<key>dynamicresolverflags</key>
	<string>unregisterAsset</string>
	<key>materialoperationspeed</key>
	<string>currentProcessor</string>
	<key>mobileMerger</key>
	<string>statelessRect</string>
	<key>tensorAnimator</key>
	<string>reusableMesh</string>
	<key>textadapterresponse</key>
	<string>statefulTexture</string>
	<key>uniformtext</key>
	<string>scalefromstrategy</string>
</dict>
</plist>
