<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledtextlocation</key>
	<string>deferredPet</string>
	<key>lastIntegration</key>
	<string>mapselector</string>
	<key>profilehash</key>
	<string>gradientPattern</string>
	<key>responderFrequency</key>
	<string>futurepolyfill</string>
	<key>tweakOpacity</key>
	<string>setstateBrush</string>
</dict>
</plist>
