<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerformmargin</key>
	<string>temporaryBrush</string>
	<key>exponentlocation</key>
	<string>executeDependency</string>
	<key>localVideo</key>
	<string>largehashright</string>
	<key>shouldRouteBaseline</key>
	<string>priorSize</string>
</dict>
</plist>
