<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>listviewOpacity</key>
	<string>storagetaskdistance</string>
	<key>seamlessmend</key>
	<string>notificationCommand</string>
	<key>sinkbottom</key>
	<string>lastSign</string>
	<key>visiblezoneorigin</key>
	<string>canNotifyMaterial</string>
</dict>
</plist>
