<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionfromfacade</key>
	<string>recursionMargin</string>
	<key>durationstructurevalidation</key>
	<string>enabledError</string>
	<key>semanticspressure</key>
	<string>specifyGem</string>
	<key>smallRouter</key>
	<string>shouldserializeactivity</string>
	<key>unaryFormat</key>
	<string>resourceMargin</string>
</dict>
</plist>
