<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedFormat</key>
	<string>shouldPersistInteger</string>
	<key>disparateBoxShadow</key>
	<string>scrollableAnalyzer</string>
	<key>lastmonster</key>
	<string>usedStream</string>
	<key>smartRemediation</key>
	<string>interactiveSchema</string>
</dict>
</plist>
