<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerfactoryspacing</key>
	<string>mediaquerySpeed</string>
	<key>equalizationborder</key>
	<string>layoutStateful</string>
	<key>imperativeAsset</key>
	<string>readRadius</string>
	<key>integrityorigin</key>
	<string>canDecodeShader</string>
	<key>layerIndex</key>
	<string>explicitTask</string>
	<key>materialLayer</key>
	<string>missedClipper</string>
	<key>mobileSaturation</key>
	<string>listenerWork</string>
	<key>moduleBound</key>
	<string>displayableBehavior</string>
	<key>otherseguemomentum</key>
	<string>performGrid</string>
	<key>trainmethod</key>
	<string>reactiveDetail</string>
</dict>
</plist>
