<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flexTension</key>
	<string>segueLocation</string>
	<key>geometricDrawer</key>
	<string>shoulddeserializeindicator</string>
	<key>locateflex</key>
	<string>repositorythanproxy</string>
	<key>mediumPublisher</key>
	<string>priorStatus</string>
	<key>resumecard</key>
	<string>saveFragment</string>
	<key>shouldSetStateExtension</key>
	<string>lastQueue</string>
	<key>textfieldparameterbehavior</key>
	<string>liteAnimatedContainer</string>
</dict>
</plist>
