<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousCube</key>
	<string>specifyGesture</string>
	<key>optioninsideadapter</key>
	<string>significantframe</string>
	<key>scrollableExponent</key>
	<string>contrastPosition</string>
	<key>secondtentative</key>
	<string>borderParameter</string>
	<key>setstatemedia</key>
	<string>clipperInterval</string>
	<key>shouldPopFuture</key>
	<string>concurrentCapsule</string>
	<key>sliderprocessor</key>
	<string>hashCoord</string>
	<key>temporaryElasticity</key>
	<string>diversifiedEvaluation</string>
	<key>temporaryQuaternion</key>
	<string>shouldStreamBorder</string>
	<key>unregisterstream</key>
	<string>symmetricMaterial</string>
</dict>
</plist>
