<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoresilience</key>
	<string>canInflateMaster</string>
	<key>instructionmargin</key>
	<string>comprehensiveStorage</string>
	<key>nextCell</key>
	<string>popstream</string>
	<key>publicOptimizer</key>
	<string>createSymbol</string>
	<key>publicThroughput</key>
	<string>loaderkind</string>
	<key>samplealongtemple</key>
	<string>animatedcontainerindecorator</string>
	<key>shouldEndTextField</key>
	<string>shouldTransitionSession</string>
	<key>smallDetail</key>
	<string>parallelTrajectory</string>
	<key>standaloneReference</key>
	<string>processortransparency</string>
	<key>substantialtickertype</key>
	<string>hyperbolicCaption</string>
</dict>
</plist>
