<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoThroughput</key>
	<string>intensityParameter</string>
	<key>compositionalIntensity</key>
	<string>inheritedCurve</string>
	<key>comprehensiveTentative</key>
	<string>navigatebullet</string>
	<key>delicateReduction</key>
	<string>expandedFeedback</string>
	<key>disconnectcapsule</key>
	<string>parseCatalyst</string>
	<key>hasresource</key>
	<string>bitrateScope</string>
	<key>observervarcolor</key>
	<string>detailHead</string>
	<key>reusableSplitter</key>
	<string>transformbuilder</string>
	<key>scopeMargin</key>
	<string>pagerFrequency</string>
	<key>sinemomentum</key>
	<string>persistentRole</string>
</dict>
</plist>
