<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cycleoffset</key>
	<string>shouldAttachFragment</string>
	<key>futureSaturation</key>
	<string>easyOperation</string>
	<key>intuitiveColumn</key>
	<string>shouldSerializeAnimation</string>
	<key>prismaticdialogs</key>
	<string>lastWrapper</string>
	<key>resilientArithmetic</key>
	<string>sequentialChallenge</string>
	<key>responsivePreview</key>
	<string>accessibleRadio</string>
</dict>
</plist>
