<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicConfidentiality</key>
	<string>semanticAsset</string>
	<key>beginnerGraphic</key>
	<string>hasTable</string>
	<key>cubitmerger</key>
	<string>declarativeThreshold</string>
	<key>equivalentInteraction</key>
	<string>extenddecoration</string>
	<key>resourceduration</key>
	<string>transformChart</string>
	<key>shouldPublishPromise</key>
	<string>descentVelocity</string>
	<key>similarMapper</key>
	<string>inflateMargin</string>
	<key>sizeevaluation</key>
	<string>directlyIntegrity</string>
	<key>statelessObject</key>
	<string>captureText</string>
	<key>tensorLog</key>
	<string>dismissSpot</string>
</dict>
</plist>
