<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elasticityorientation</key>
	<string>schemaPressure</string>
	<key>firstStore</key>
	<string>graphicVisible</string>
	<key>isImage</key>
	<string>shouldDecodeStack</string>
	<key>onalertchanged</key>
	<string>imperativeChapter</string>
	<key>widgetAlignment</key>
	<string>opaqueCluster</string>
</dict>
</plist>
