<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperSaturation</key>
	<string>activatedZone</string>
	<key>durationresponse</key>
	<string>hasVariant</string>
	<key>extensionrotation</key>
	<string>inheritedmediaalignment</string>
	<key>handlerremediation</key>
	<string>confidentialityRight</string>
	<key>navigatorfrompattern</key>
	<string>canUnmountExponent</string>
	<key>permissiveVideo</key>
	<string>resizableSample</string>
	<key>primaryElement</key>
	<string>disparateSubpixel</string>
	<key>reactivePlayback</key>
	<string>stopHistogram</string>
	<key>scenepadding</key>
	<string>sharedtickerflags</string>
</dict>
</plist>
