<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionVisibility</key>
	<string>futurebrightness</string>
	<key>diffableinterfaceposition</key>
	<string>canPersistNorm</string>
	<key>publicOption</key>
	<string>injectionprototyperotation</string>
	<key>substantialWrapper</key>
	<string>shouldCreateAlpha</string>
	<key>tickerfunctioncontrast</key>
	<string>shouldDetachArithmetic</string>
</dict>
</plist>
