<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedfutureshape</key>
	<string>directelasticity</string>
	<key>cursormenu</key>
	<string>shouldattachstateful</string>
	<key>displayableNotation</key>
	<string>locateInjection</string>
	<key>durationinset</key>
	<string>diffableSlash</string>
	<key>gridDirection</key>
	<string>nodeStatus</string>
	<key>normalCertificate</key>
	<string>capsuleDirection</string>
	<key>tabviewexceptkind</key>
	<string>normMargin</string>
	<key>viewtype</key>
	<string>lockPresenter</string>
</dict>
</plist>
