<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumptionName</key>
	<string>uniformResilience</string>
	<key>descriptionnumberfeedback</key>
	<string>mountedTabView</string>
	<key>futuredisclaimer</key>
	<string>discardedEvent</string>
	<key>hyperbolicTween</key>
	<string>instantiateFactory</string>
	<key>mutablesprite</key>
	<string>buttonkind</string>
	<key>overlaySkewY</key>
	<string>signparticle</string>
</dict>
</plist>
