<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalSize</key>
	<string>extensionSingleton</string>
	<key>curveviaoperation</key>
	<string>blocTail</string>
	<key>fragmentTension</key>
	<string>moveVector</string>
	<key>hierarchicalSkin</key>
	<string>comprehensiveOptimizer</string>
	<key>isDescriptor</key>
	<string>hyperbolicIntegrity</string>
	<key>mapPosition</key>
	<string>pivotalCompletion</string>
	<key>shouldBuildIcon</key>
	<string>shouldHandleStoryboard</string>
	<key>significantLatency</key>
	<string>canBindSubpixel</string>
	<key>timerRight</key>
	<string>symmetricSizedBox</string>
	<key>transitionforstyle</key>
	<string>pivotalPolyfill</string>
</dict>
</plist>
