<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateHead</key>
	<string>curveFrequency</string>
	<key>previewstate</key>
	<string>canMountedCosine</string>
	<key>prismaticCanvas</key>
	<string>zoneFunction</string>
	<key>queuejobleft</key>
	<string>addCurve</string>
	<key>statefulSubscription</key>
	<string>comprehensivetransformershade</string>
</dict>
</plist>
