<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowinterface</key>
	<string>delicateProject</string>
	<key>nextCharacter</key>
	<string>customTouch</string>
	<key>traversalTop</key>
	<string>reducercontextinset</string>
</dict>
</plist>
