<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentSensor</key>
	<string>shouldPushBehavior</string>
	<key>hyperbolicMenu</key>
	<string>shouldAttachInstruction</string>
	<key>largeSample</key>
	<string>smallAnalogy</string>
	<key>maintainborder</key>
	<string>destroyTransformer</string>
	<key>mapperSize</key>
	<string>easyVertex</string>
	<key>originalRadio</key>
	<string>tabviewBuffer</string>
	<key>parallelThroughput</key>
	<string>originalMultiplication</string>
	<key>rapidItem</key>
	<string>scaleColor</string>
	<key>secondAwait</key>
	<string>activatedinfo</string>
	<key>stringifyoffset</key>
	<string>challengeFormat</string>
</dict>
</plist>
