<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatorInset</key>
	<string>capsuleLocation</string>
	<key>arithmetictickershape</key>
	<string>modulusAction</string>
	<key>containerContrast</key>
	<string>interpolateDelegate</string>
	<key>iterativeDescription</key>
	<string>heapTask</string>
	<key>nextContrast</key>
	<string>visitSlider</string>
	<key>persistentequipmenttop</key>
	<string>streamBaseline</string>
	<key>priorprojectionopacity</key>
	<string>activatedrouterinset</string>
	<key>repositoryTension</key>
	<string>shouldMountAnimatedContainer</string>
	<key>scopeShape</key>
	<string>coordinatorname</string>
	<key>tensorDetector</key>
	<string>taskascent</string>
</dict>
</plist>
