<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>localBaseline</key>
	<string>disposeNavigator</string>
	<key>notifierAcceleration</key>
	<string>checkboxWork</string>
	<key>pinchablePriority</key>
	<string>staticmediaqueryalignment</string>
	<key>sophisticatedVertex</key>
	<string>animateSample</string>
</dict>
</plist>
