<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedMovement</key>
	<string>mediocrePainter</string>
	<key>constraintDensity</key>
	<string>updateSingleton</string>
	<key>gestureEdge</key>
	<string>arithmeticElasticity</string>
	<key>inactivetolerance</key>
	<string>shouldSaveProjection</string>
	<key>prevAnalogy</key>
	<string>temporarySymbol</string>
	<key>projectSkewX</key>
	<string>directDispatcher</string>
	<key>publicTimeline</key>
	<string>deprecateScene</string>
	<key>rendererEdge</key>
	<string>declarativeFilter</string>
	<key>shouldShowController</key>
	<string>requiredCard</string>
	<key>sinkDuration</key>
	<string>imageVisible</string>
</dict>
</plist>
