<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activitycontrast</key>
	<string>materialRemainder</string>
	<key>animationandparam</key>
	<string>popCube</string>
	<key>configurationleft</key>
	<string>arithmeticFilter</string>
	<key>eagerLifecycle</key>
	<string>protectedCubit</string>
	<key>smallOperation</key>
	<string>shouldCacheRadio</string>
</dict>
</plist>
