<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionkindflags</key>
	<string>iconFunction</string>
	<key>contractionhash</key>
	<string>liteDuration</string>
	<key>imageVisible</key>
	<string>robustUtil</string>
	<key>parallelPolyfill</key>
	<string>lockLocalization</string>
	<key>pausecontainer</key>
	<string>canEncodeGesture</string>
	<key>selectorLocation</key>
	<string>obtainLocalization</string>
	<key>shaderShape</key>
	<string>embracemetadata</string>
</dict>
</plist>
