<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousAnimatedContainer</key>
	<string>fusedScene</string>
	<key>cartesianSlash</key>
	<string>mediumContraction</string>
	<key>fragmentTransparency</key>
	<string>remainderCenter</string>
	<key>immediatePoint</key>
	<string>independentError</string>
	<key>pivotalCell</key>
	<string>variantPressure</string>
	<key>shouldInflateOverlay</key>
	<string>colorStyle</string>
	<key>shouldprocesscube</key>
	<string>commonInteger</string>
</dict>
</plist>
