<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedDetector</key>
	<string>rebuildNotifier</string>
	<key>cellVisibility</key>
	<string>encodeEvent</string>
	<key>cupertinobufferpadding</key>
	<string>futureActivity</string>
	<key>inactiveSegment</key>
	<string>connectorHue</string>
	<key>plateBehavior</key>
	<string>mainRepository</string>
	<key>radiusprototypespeed</key>
	<string>reusableNib</string>
	<key>restartfuture</key>
	<string>responseOrigin</string>
	<key>shouldAnimateView</key>
	<string>staticDecoration</string>
	<key>shouldPushGesture</key>
	<string>responsethreshold</string>
	<key>shouldrendertextfield</key>
	<string>standaloneBoxShadow</string>
</dict>
</plist>
