<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredExpanded</key>
	<string>shouldstartnib</string>
	<key>nativeBehavior</key>
	<string>benchmarkChapter</string>
	<key>nodeBottom</key>
	<string>mitigateIsolate</string>
	<key>numericalMerger</key>
	<string>smartInkWell</string>
	<key>otherBehavior</key>
	<string>labelState</string>
	<key>scrollableCube</key>
	<string>presentstore</string>
	<key>shouldSerializeFuture</key>
	<string>shouldStreamSemantics</string>
	<key>slashchooser</key>
	<string>diffablememberborder</string>
</dict>
</plist>
