<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerBandwidth</key>
	<string>pinchableAnimatedContainer</string>
	<key>layerPressure</key>
	<string>queueProxy</string>
	<key>newestReplica</key>
	<string>robustIntensity</string>
	<key>normalignment</key>
	<string>notificationKind</string>
</dict>
</plist>
