<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>indicatoraroundcommand</key>
	<string>painterValidation</string>
	<key>pointHue</key>
	<string>missedradiobehavior</string>
	<key>responsiveSpine</key>
	<string>canPauseNavigation</string>
	<key>routeTop</key>
	<string>gestureStatus</string>
	<key>shouldFetchObserver</key>
	<string>durationthanoperation</string>
	<key>shouldloadgem</key>
	<string>mediocreDuration</string>
	<key>temporarySegue</key>
	<string>meshname</string>
	<key>themeTheme</key>
	<string>currentBullet</string>
</dict>
</plist>
