<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buildershape</key>
	<string>dynamicIndicator</string>
	<key>canvasFrequency</key>
	<string>normTint</string>
	<key>concurrentmaterializer</key>
	<string>decodeTangent</string>
	<key>desktopReference</key>
	<string>capsulePlatform</string>
	<key>joinerOrigin</key>
	<string>animatedcontainermediatorcount</string>
	<key>largeSkin</key>
	<string>certificateRotation</string>
	<key>lifecycleAppearance</key>
	<string>loadparticle</string>
	<key>shouldPushInstruction</key>
	<string>capacityFeedback</string>
	<key>slashTag</key>
	<string>semanticGem</string>
	<key>splitterCenter</key>
	<string>localcallback</string>
</dict>
</plist>
