<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptivePrecision</key>
	<string>searcheropacity</string>
	<key>directSegment</key>
	<string>floatIsolate</string>
	<key>eventFlags</key>
	<string>skipMusic</string>
	<key>iterativeState</key>
	<string>resilientsingleton</string>
	<key>keepservice</key>
	<string>inactiveDecoration</string>
	<key>resilientcapacities</key>
	<string>binarySaturation</string>
	<key>thresholdshade</key>
	<string>textureVar</string>
</dict>
</plist>
